{% extends "user.html" %}

{% block title %}{{ _("IPFire Planet") }} - {{ entry.title }}{% end block %}

{% block bodyA %}
	<div class="page-header">
		<h1>
			<a href="/post/{{ entry.slug }}">{{ entry.title }}</a>
		</h1>
	</div>

	<div class="row">
		<div class="span9">
			{% raw entry.text %}
		</div>

		<p class="pull-right" style="clear: both;">
			{% if entry.tags %}
				{{ _("Tags") }}:
				{% for tag in entry.tags %}
					<a href="/search?q={{ tag }}">{{ tag }}</a>
				{% end %} &bull;
			{% end %}
			{{ _("Posted by") }} <a href="/user/{{ entry.author.uid }}">{{ entry.author.cn }}</a>
			{{ _("on") }} {{ locale.format_date(entry.published, shorter=True) }}
		</p>
	</div>
{% end block %}
