{% extends "base.html" %}

{% block title %}{{ _("IPFire Planet") }} - {{ author.cn }}{% end block %}

{% block body %}
	<div class="row">
		<div class="col-lg-9 col-md-9">
			{% block bodyA %}
				<div class="page-header">
					<h1>{{ author.cn }}'s posts</h1>
				</div>

				{% if entries %}
					{% for entry in entries %}
						{% module PlanetEntry(entry, show_avatar=False) %}
					{% end %}

					<div class="row">
						<div class="col-lg-9 col-md-9">
							<ul class="pager">
								<li class="previous">
									<a href="?offset={{ offset }}">&larr; {{ _("Older posts") }}</a>
								</li>
								{% if offset - limit %}
									<li class="next">
										<a href="?offset={{ offset - (2 * limit) }}">{{ _("Newer posts") }} &rarr;</a>
									</li>
								{% end %}
							</ul>
						</div>
					</div>
				{% else %}
						<p>{{ _("%s did not write any posts, yet.") % author.cn }}</p>
				{% end %}
			{% end block %}
		</div>

		<div class="col-lg-3 col-md-3">
			<div class="well">
				<img class="img-rounded" src="{{ author.gravatar_icon(232) }}" alt="{{ author.cn }}" />
				<hr>
				<a href="/user/{{ author.uid }}">
					<i class="glyphicon glyphicon-user"></i>
					{{ escape(author.cn) }}
				</a>
				<hr>
				<a href="mailto:{{ author.email }}">
					<i class="glyphicon glyphicon-envelope"></i> {{ _("Mail") }}
				</a>
			</div>
		</div>
	</div>
{% end block %}
