{% extends "../../base-feature.html" %}
		
{% block title %}{{ _("Dial-in") }}{% end block %}

{% block content %}
	<h3>{{ _("Dial-in") }}</h3>

	<!-- XXX needs icons -->
	<!-- XXX needs screenshots -->

	{% if lang == "de" %}
		<p>
			IPFire ist als Internet-Gateway in der Lage über verschiedene (Einwahl-)Techniken eine Verbindung zum
			Internet aufzubauen.
		</p>
		<p>
			Es werden alle gängigen Breitbandzugangsarten wie auch mobile Zugänge unterstützt:
		</p>
		<ul class="list">
			<li>
				<strong>VDSL:</strong> VDSL ist die Abkürzung für „Very High Data Rate Digital Subscriber Line“ und
				bietet in Deutschland derzeit Bandbreiten bis zu 50 MBit/s im Downstream und 10 MBit/s im Upstream.
				Damit eignet sich VDSL für die Zukunft und bringt auch IPTV mit sich. Mit IPFire kann der herkömmliche
				Router ausgetauscht werden und auf ein vollwertiges System gesetzt werden, das den IPTV-Stream ins
				eigene Netz bringt.
			</li>
			<li>
				<strong>ADSL/SDSL:</strong> Selbstverständlich wird auch herkömmliches DSL unterstützt, wobei es sich
				technisch um PPPoE oder PPPoA handelt. In einigen Ländern ist auch PPTP als Protokoll verbreitet und
				wird ebenso unterstützt.
			</li>
			<li>
				<strong>Ethernet:</strong> Über Ethernet kann IPFire ebenfalls mit dem Internet verbunden werden und
				eine IP-Adresse entweder per DHCP beziehen oder statisch konfiguriert werden. Das wird u.a. bei
				Verbindungen über Kabel genutzt.
			</li>
			<li>
				<strong>3. Generation:</strong> Über USB-Modems wird auch jede Art von mobilen Breitbandverbindungen
				unterstützt welche bekannt sind unter den Bezeichnungen UMTS, 3G, CDMA, HSDPA oder LTE.
			</li>
		</ul>

		<br class="clear" />

		<!-- XXX table needs formatting -->
		<table class="dial-in">
			<tr>
				<th>Verbindungsart</th>
				<th>geläufige Protokolle</th>
			</tr>
			<tr>
				<td>ADSL/SDSL</td>
				<td>PPPoE, PPPoA, PPTP (statisch oder per DHCP)</td>
			</tr>
			<tr>
				<td>VDSL</td>
				<td>PPPoE inkl. DHCP für IPTV mit Multicast-Routing/-Streaming</td>
			</tr>
			<tr>
				<td>Kabel</td>
				<td>Ethernet mit DHCP oder statischer Einstellung</td>
			</tr>
			<tr>
				<td>UMTS/HSDPA/3G/CDMA</td>
				<td>PPP</td>
			</tr>
			<tr>
				<td>Analoges Modem</td>
				<td>PPP</td>
			</tr>
		</table>
	{% else %}
		<p>
			IPFire as an Internet-Gateway are able to dial-up through various techniques to connect to the Internet.
		</p>
		<p>
			It supports all popular types of broadband access as well as mobile access:
		</p>
		<ul class="list">
			<li>
				<strong>VDSL:</strong> VDSL is the shortcut for “Very High Data Rate Digital Subscriber Line” and
				it currently offers bandwidths in Germany up to 50 Mbit/s downstream and 10 Mbit/s upstream. Thus,
				VDSL brings therefor the possibility to use technologies like IPTV. With IPFire, a conventional
				router can be replaced by a full-fledged system that brings the IPTV stream into the own home net.
			</li>
			<li>
				<strong>ADSL/SDSL:</strong> Of course, conventional DSL is supported, although it is technically
				called also PPPoE or PPPoA. In some countries, the PPTP protocol is also widely used and it is also
				supported by IPFire.
			</li>
			<li>
				<strong>Ethernet:</strong> Over Ethernet IPFire can also be connected to the Internet and obtain
				an IP address either via DHCP or statically configured.
			</li>
			<li>
				<strong>3. Generation:</strong> Mobile broadband connections which are also known under the names
				UMTS, 3G, CDMA, HSDPA or LTE over USB modems are also supported by IPFire.
			</li>
		</ul>

		<br class="clear" />

		<!-- XXX table needs formatting -->
		<table class="dial-in">
			<tr>
				<th>Connection types</th>
				<th>common protocols</th>
			</tr>
			<tr>
				<td>ADSL/SDSL</td>
				<td>PPPoE, PPPoA, PPTP (static or over DHCP)</td>
			</tr>
			<tr>
				<td>VDSL</td>
				<td>PPPoE inkl. DHCP for IPTV with Multicast-Routing/-Streaming</td>
			</tr>
			<tr>
				<td>Cable</td>
				<td>Ethernet with DHCP or static preferences</td>
			</tr>
			<tr>
				<td>UMTS/HSDPA/3G/CDMA</td>
				<td>PPP</td>
			</tr>
			<tr>
				<td>Analog modem</td>
				<td>PPP</td>
			</tr>
		</table>
	{% end %}
{% end block %}
