{% extends "../../base-feature.html" %}
		
{% block title %}{{ _("VPN") }}{% end block %}

{% block bodyA %}
	<img src="{{ static_url("images/icons/vpn.png") }}" class="pull-right" alt="{{ _("VPN") }}" />
	<div class="page-header">
		<h1>
			{{ _("VPN") }}
			<small>{{ _("Virtual Private Networks") }}</small>
		</h1>
	</div>

	<div class="row">
		<div class="span9">
			{% if lang == "de" %}
				<p>
					IPFire kann zu einem VPN-Gateway (virtal private network - virtuelles, privates Netzwerk)
					ausgebaut werden, welches Personen mit unterschiedlichem Standort untereinander verbindet.
					Dies können zum Beispiel Mitarbeiter, Freunde oder Personen sein mit denen man Daten sicher
					austauschen möchte, aber auch eine Filiale, Außenstelle, wichtige Kunden oder andere Unternehmen
					mit denen kommuniziert wird.
				</p>
				<p>
					Um sich über verschiedene Technologien verbinden zu können unterstützt IPFire die VPN Protokolle
					IPsec und OpenVPN. Dies erlaubt dem Administrator große Freiheiten bei der Konfiguration des VPNs.
					Die Verwendung dieser Protokolle erlaubt es IPFire auch sich mit VPN Endpunkten verschiedenster
					Hardwarehersteller, wie Cisco, Juniper, Checkpoint, etc. zu verbinden.
				</p>
			{% else %}
				<p>
					IPFire also includes functionality to create virtual private networks (VPN).
					A VPN is a gateway which connects remote networks to the local one using an
					encrypted link.
					Uses for a VPN include business connections to branch offices or datacenters,
					as well as providing traveling staff with a secure portal to the corporate network.
				</p>
				<p>
					For maximum flexibility, IPFire uses both IPsec and OpenVPN protocols,
					giving administrators maximum flexibility when configuring their VPN.
					Use of these protocols allows IPFire to connect to a variety of VPN endpoint
					devices by manufacturers such as Cisco, Juniper, Checkpoint, etc. 
				</p>
			{% end %}
		</div>
	</div>

	<p class="links">
		<!-- XXX a link to the wiki goes here -->
		<a href="http://wiki.ipfire.org">{{ _("Learn more about configuring a VPN connection") }}</a>
	</p>
{% end block %}
