{% extends "../../base-feature.html" %}
		
{% block title %}{{ _("Wireless Access Point") }}{% end block %}

{% block content %}
	<h3>{{ _("Wireless Access Point") }}</h3>

	<!-- XXX needs icons -->
	<!-- XXX needs screenshots -->

	{% if lang == "de" %}
		<p>
			IPFire bietet mehrere Möglichkeiten zur Einbindung von Wireless-Clients. Zum einen kann ein
			Accesspoint über eine LAN Karte angeschlossen werden. Hier bietet IPFire einen MAC/IP Addressfilter,
			um nur erlaubte Clients zuzulassen. Die Clients dürfen in der Standardeinstellung zwar ins Internet,
			aber nicht auf das lokale Lan zugreifen. Als zweite Möglichkeit kann man eine WLAN-Karte in den IPFire
			einbauen, die über das Addon “hostapd” Funktionalität des Accesspoints übernimmt. Unterstützt werden
			dann unverschlüsselte sowie WPA/WPA2 verschlüsselte Verbindungen. Auch die Nutzung des 5 GHz Bandes
			(802.11A) ist möglich, wenn die WLAN Karte dies unterstützt.
		</p>
		<p>
			Die Unterstützung von Wireless-Karten in IPFire ist exzellent, da in dem stabilen Kernel die Treiber
			trotzdem auf neuestem Stand sind und somit möglichst viele Karten unterstützt werden.
		</p>
	{% else %}
		<p>
			IPFire offers several options for the integration of wireless clients. Firstly, an access point can
			be connected via a LAN card. At this, IPFire offers a MAC/IP address filtering to allow only authorized
			clients. The clients are allowed by default, to access the Internet, but they can not access the local LAN.
			The second option is to install a wireless card in the IPFire that takes the functionality of the access
			point over the Addon “hostapd”. This Addon supports unencrypted and WPA/WPA2 encrypted connections. Also
			the use of 5 GHz (802.11a) is possible if the wireless card supports this standard.
		</p>
		<p>
			The support of wireless cards in IPFire is excellent, so the drivers in the stable kernel are still up to
			date and therefore he supports preferably a lot of W-LAN cards.
		</p>
	{% end %}
{% end block %}
