{% extends "base.html" %}

{% block title %}{{ _("Builds") }}{% end block %}

{% block content %}
	<h3>{{ _("Nightly builds") }}</h3>

	<table id="builds">
		<tbody>
			{% if builds["<12h"] %}
				<tr class="headline">
					<td colspan="3">
						{{ _("Less than 12 hours ago") }}
					</td>
				</tr>
				{% for build in builds["<12h"] %}
					{{ modules.Build(build) }}
				{% end %}
			{% end %}
			
			{% if builds[">12h"] %}
				<tr class="headline">
					<td colspan="3">
						{{ _("More than 12 hours ago") }}
					</td>
				</tr>
				{% for build in builds[">12h"] %}
					{{ modules.Build(build) }}
				{% end %}
			{% end %}
			
			{% if builds[">24h"] %}
				<tr class="headline">
					<td colspan="3">
						{{ _("More than a day ago") }}
					</td>
				</tr>
				{% for build in builds[">24h"] %}
					{{ modules.Build(build) }}
				{% end %}
			{% end %}
		</tbody>
	</table>
{% end block %}
