{% extends "base.html" %}

{% block content %}
	<div class="post">
		<a name="latest"></a>
		<h3>{{ _("IPFire Torrent Tracker") }}</h3>

		<img class="floatTR" src="{{ static_url("images/bittorrent.png") }}"
			alt="Bittorrent" />

		{% if lang == "de" %}
			<p>
				Auf dieser Seite finden sie eine Liste fast aller Dateien, die
				über den IPFire-Torrent-Tracker verteilt werden.
			<p>
			<p>
				Das Torrentnetz ist ein Netzwerk, welches Dateien durch verteilte
				Downloads schnell verbreitet. IPFire nutzt dieses System um
				Downloads der Distributionsimages bereitzustellen.
			</p>
			<p>
				Mehr Informationen zu Torrent-Netzwerken finden sie in der
				<a href="http://de.wikipedia.org/wiki/BitTorrent"
				target="_blank">Wikipedia</a>.
			</p>
		{% else %}
			<p>
				This page displays a list of files that are tracked by the
				IPFire torrent tracker.
			<p>
			<p>
				The bittorrent protocol transfers large files by a distributed
				technology. IPFire uses this system to spread the distribution's
				files.
			</p>
			<p>
				Get more information on the bittorrent protocol on
				<a href="http://en.wikipedia.org/wiki/BitTorrent_(protocol)"
				target="_blank">Wikipedia</a>.
			</p>
		{% end %}
		
		<table class="download-torrents">
			<tr>
				<th>{{ _("Release") }}</th>
				<th>{{ _("File") }}</th>
				<th>S</th>
				<th>P</th>
				<th>&nbsp;</th>
			</tr>
			{% for release in releases %}
				<tr>
					<td>{{ release.name }}</td>
					<td>{{ release.torrent.file[:-8] }}</td>
					<td class="seeds">{{ hashes[release.torrent.hash]["seeds"] }}</td>
					<td class="peers">{{ hashes[release.torrent.hash]["peers"] }}</td>
					<td class="download">
						<a href="{{ release.torrent.url }}">{{ _("Download file") }}</a>
					</td>
				</tr>
			{% end %}
		</table>
		
		<p class="right">
			{{ _("Got that information from <em>%s</em> within %.2f second(s).") % (tracker, request_time) }}
		</p>

		<br class="clear" />
	</div>
{% end block %}
