{% extends "base.html" %}

{% block content %}
	<div class="post">
		<a name="latest"></a>
		<h3>{{ _("IPFire Torrent Tracker") }}</h3>
		<img src="{{ static_url("images/page_icons/download-torrents.png") }}" class="floatTR" border="0" alt="{{ _("IPFire Torrent Tracker") }}" />

		{% if lang == "de" %}
			<p>
				Auf dieser Seite finden Sie eine Liste fast aller Dateien, die
				über den IPFire-Torrent-Tracker verteilt werden.
			<p>
			<p>
				Das Torrentnetz ist ein Netzwerk, welches Dateien durch verteilte
				Downloads schnell verbreitet. IPFire nutzt dieses System um
				Downloads der Distributionsimages bereitzustellen.
			</p>
			<p>
				Mehr Informationen zu Torrent-Netzwerken finden Sie in der
				<a href="http://de.wikipedia.org/wiki/BitTorrent"
				target="_blank">Wikipedia</a>.
			</p>
		{% else %}
			<p>
				This page displays a list of files that are tracked by the
				IPFire torrent tracker.
			<p>
			<p>
				The bittorrent protocol transfers large files by a distributed
				technology. IPFire uses this system to spread the distribution's
				files.
			</p>
			<p>
				Get more information on the bittorrent protocol on
				<a href="http://en.wikipedia.org/wiki/BitTorrent_(protocol)"
				target="_blank">Wikipedia</a>.
			</p>
		{% end %}
		
				<br class="clear" />

		
		<table class="download-torrents">
			<tr>
				<th>{{ _("Release") }}</th>
				<th>{{ _("File") }}</th>
				<th>S</th>
				<th>P</th>
				<th>&nbsp;</th>
			</tr>
			{% for release in releases %}
				<tr>
					<td>{{ release.name }}</td>
					<td>{{ release.torrent.file[:-8] }}</td>
					<td class="seeds">{{ hashes[release.torrent.hash]["seeds"] }}</td>
					<td class="peers">{{ hashes[release.torrent.hash]["peers"] }}</td>
					<td class="download">
						<a href="{{ release.torrent.url }}">{{ _("Download file") }}</a>
					</td>
				</tr>
			{% end %}
		</table>
		
		<p class="right">
			{{ _("Got that information from <em>%s</em> within %.2f second(s).") % (tracker, request_time) }}
		</p>

		<br class="clear" />
	</div>
{% end block %}

{% block sidebar %}
		<h4><span>{{ _("Torrent") }}</span> Clients</h4>
		<ul class="links">
			<li class="first"><img src="{{ static_url("images/win_icon.png") }}" alt="Windows" align="absmiddle"><img src="{{ static_url("images/mac_icon.png") }}" alt="Mac OS" align="absmiddle"> <a href="http://www.utorrent.com/" target="_blank"> &micro;torrent</a></li>
			<li><img src="{{ static_url("images/linux_icon.png") }}" alt="Linux" align="absmiddle"><img src="{{ static_url("images/mac_icon.png") }}" alt="Mac OS" align="absmiddle"> <a href="http://www.transmissionbt.com/" target="_blank">Transmission</a></li>
		</ul>
 {{ modules.SidebarBanner(banner) }}

{% end block %}
