{% extends "base-2.html" %}

{% block title %}{{ _("Downloads") }}{% end block %}

{% block content %}
	<h3>{{ _("Download IPFire") }}</h3>

	<img src="{{ static_url("images/box_ipfire.png") }}" alt="{{ _("CD-Box") }}" class="floatTR" />

	{% if lang == "de" %}
		<p>
			Auf dieser Seite können Sie <strong>kostenlos</strong> die neueste
			Version von IPFire herunterladen.
		</p>
		<p>
			Ältere Versionen oder andere Downloadoptionen finden Sie im
			<a href="http://downloads.ipfire.org/">Download Center</a>.
		</p>
	{% else %}
		<p>
			On this page one can download the latest version of IPFire
			<strong>for free</strong>.
		</p>
		<p>
			Older versions and other downloads can be found in the
			<a href="http://downloads.ipfire.org/">Download Center</a>.
		</p>
	{% end %}

	<br class="clear" />

	{{ modules.ReleaseItem(release) }}

	<br class="clear" />

	<h3>{{ _("Donation") }}</h3>
	{% if lang == "de" %}
		<p>
			Wenn Ihnen IPFire gefällt, gibt es die Möglichkeit mit einer kleinen
			Menge Geld das Projekt zu unterstützen. Diese Unterstützung bedeutet
			sehr viel, denn sie hilft das Projekt fortzuführen.
		</p>
		<br class="clear" />
		<p>
			<div align="center">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="10781833">
					<input type="image" src="https://www.paypal.com/de_DE/DE/i/btn/btn_donateCC_LG.gif"
						border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
					<img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		</p>
		<br class="clear" />
		<p>
			Um mehr darüber zu erfahren, wie Sie das Projekt unterstützen können,
			klicken Sie <a href="/donation">hier</a>.
		</p>
	{% else %}
		<p>
			If you like IPFire, there is the opportunity to donate a small amount
			of money to the project. This will help the people that are running
			this project very much.
		</p>
		<br class="clear" />
		<p>
			<div align="center">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="10781833">
					<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif"
						border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
					<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		</p>
		<br class="clear" />
		<p>
			If you want to know more about how you can help the IPFire project
			read <a href="/donation">this</a>.
		</p>
	{% end %}
{% end block %}

{% block sidebar %}
	{{ modules.SidebarBanner() }}
{% end block %}
