{% extends "base-2.html" %}

{% block title %}{{ _("Home") }}{% end block %}

{% block content %}
	<h3>IPFire - {{ _("An open source firewall solution") }}</h3>
	{% if lang == "de" %}
		<p>
			<strong>IPFire</strong> ist eine Server-Distribution mit primärem Einsatzzweck
			als Firewall mit besonderer Sicherheit. Ebenso ist IPFire sehr flexibel
			und skaliert hervorragend von kleinen bis mitteleren Unternehmensnetzwerken,
			Heimnetzen, Behörden und Schulen.
		</p>
	{% else %}
		<p>
			<strong>IPFire</strong> is a server distribution which primary function
			is a firewall bundled with strong security. It focuses on
			flexibility as well and scales from small to middle sized business
			networks, home networks, authorities and schools.
		</p>
	{% end %}

	<br class="clear" />

	<table class="blocks">
		<tr>
			<td class="block block1">
				<img src="{{ static_url("images/icons/security.png") }}" alt="{{ _("Security") }}" />
				<br class="clear" />
				<span>{{ _("Security") }}</span>
				{% if lang == "de" %}
					<p>
						Die oberste Priorität ist die Sicherheit des Sys- tems.
						Sicherheitsupdates werden regelmäßig und
						zügig verteilt.
					</p>
				{% else %}
					<p>
						As the most important issue: Security updates
						are deployed regularly and promptly.
					</p>
				{% end %}
				<a href="/about#security">{{ _("Learn more.") }}</a>
			</td>
			<td class="block block2">
				<img src="{{ static_url("images/icons/flexibility.png") }}" alt="{{ _("Flexibility") }}" />
				<br class="clear" />
				<span>{{ _("Flexibility") }}</span>
				{% if lang == "de" %}
					<p>
						IPFire ist ein schlankes System (Image ca. 60 MB),
						welches ganz leicht durch zusätzliche Funk- tionen erweitert
						werden kann.
					</p>
				{% else %}
					<p>
						IPFire is a very small system (install image is about 60MB)
						and can be easily customized with additional functions. 
					</p>
				{% end %}
				<p>
					<a href="/about#concept">{{ _("Learn more.") }}</a>
				</p>
			</td>
			<td class="block block3">
				<img src="{{ static_url("images/icons/community.png") }}" alt="{{ _("Community") }}" />
				<br class="clear" />
				<span>{{ _("Open Source") }}</span>
				{% if lang == "de" %}
					<p>
						IPFire ist freie Software, welche von einer offenen
						Community tagtäglich verbessert wird.
					</p>
				{% else %}
					<p>
						IPFire is free software and developed by an open community,
						that makes IPFire better every single day.
					</p>
				{% end %}
				<p>
					<a href="/about#itsfree">{{ _("Get involved.") }}</a>
				</p>
			</td>
		</tr>
	</table>

	<br class="clear" />

	{% if lang == "de" %}
		<p>
			Das sehr minimalistische, gehärtete System ist höchst anpassungsfähig und
			schnell zu konfigurieren. Mit nur einem Klick können kostenlos zusätzliche
			Funktionen nachinstalliert werden, was IPFire grundsätzlich von
			seinen Konkurrenten in Sachen einfacher Wartung und Funktionsvielfalt
			abgrenzt.
		</p>
		<p>
			Dabei ist IPFire, da es auf dem Linux-Kernel basiert, äußerst
			leistungsstark und sicher, um auch in großen Umgebungen betrieben werden
			zu können.
		</p>
	{% else %}
		<p>
			IPFire is a minimal, hardened system which distinguishes itself by being
			very customizable and the possibility to install additional features with
			only a single click for free. It is very easy to install and maintain.
		</p>
		<p>
			Based on the Linux kernel, IPFire has got a lot of performance and
			is very secure that it can be used in large environments.
		</p>
	{% end %}

	<p class="links">
		{{ _("Quick links") }} &bull;
		<a href="/about">{{ _("About IPFire") }}</a>
		&bull;
		<a href="http://wiki.ipfire.org/" target="_blank">{{ _("wiki") }}</a>
		&bull;
		<a href="http://forum.ipfire.org/" target="_blank">{{ _("forum") }}</a>
	</p>

	<div class="line"></div>

	{% for item in latest_news %}
		{{ modules.NewsItem(item) }}
	{% end %}

	<div class="line"></div>

	{% for item in recent_planets %}
		<strong>{{ _("Have you already seen?") }}</strong>
		<a href="http://planet.ipfire.org/user/{{ item.author.uid }}">{{ item.author.cn }}</a>
		{{ _("talks about") }}
		<a href="http://planet.ipfire.org/post/{{ item.slug }}">{{ item.title }}</a>
		{{ _("on the IPFire planet.") }}
	{% end %}

	<br class="clear" />
	<br class="clear" />

	<p class="right">
		<a class="feed" href="/news.rss">{{ _("Subscribe to the latest news of IPFire") }} (RSS)</a>
		&bull;
		<a href="/news">{{ _("All posts") }} &gt;&gt;</a>
	</p>
{% end block %}

{% block sidebar %}
	{{ modules.SidebarRelease() }}
	{{ modules.SidebarBanner() }}
{% end block %}
