{% extends "base-2.html" %}

{% block title %}{{ _("Home") }}{% end block %}

{% block content %}
	<!--
		<img src="{{ static_url("images/Network-1.png") }}") }}" alt="IPFire Network" />
		<br class="clear" />
	-->

	<h3>IPFire - {{ _("An open source firewall distribution") }}</h3>
	{% if lang == "de" %}
		<p>
			<strong>IPFire</strong> ist eine Firewall-Distribution für den optimalen Einsatz
			in mittleren bis kleinen Unternehmensnetzwerken und Heimnetzwerken.
		</p>
		<p>
			Obwohl das System extrem schlank gehalten und gehärtet wurde und können
			Addons mit nur einem Klick installiert werden. Diese Eigenschaft unterscheidet
			IPFire von anderen Distributionen: IPFire ist einfach zu administrieren
			aber hat genug Leistung allen Anforderungen gewachsen zu sein.
		</p>
	{% else %}
		<p>
			<strong>IPFire</strong> is a server distribution with primary task as
			a firewall. It also focuses on flexibility and scales very well from small to
			middle-sized buisiness networks and home networks.
		</p>
		<p>
			Along with this very shrinked and hardened system come lots of addons that
			can be installed with a simple click. That's what makes IPFire different
			from other distributions: It is easy to administer and has lots of power
			for every challenge there might be.
		</p>
	{% end %}

	<br class="clear" />

	<p>
		{{ _("See what makes IPFire so great:") }}
	</p>

	<table class="blocks">
		<tr>
			<td class="block block1">
				<span>{{ _("Security") }}</span>
				<p>
					As the most important issue: Security updates
					are deployed regularly and in a timely manner.
				</p>
				<a href="/about#security">{{ _("Learn more.") }}</a>
			</td>
			<td class="block block2">
				<span>{{ _("Flexibility") }}</span>
				<p>
					Nowadays it is also important to act flexible and fit
					as best as possible into the environment. So does IPFire.
				</p>
				<p>
					<a href="/about#concept">{{ _("Learn more.") }}</a>
				</p>
			</td>
			<td class="block block3">
				<span>{{ _("Community") }}</span>
				<p>
					The success of IPFire is based on the community that
					is working on the code an spreading IPFire to the world.
				</p>
				<p>
					<a href="/about#community">{{ _("Get involved.") }}</a>
				</p>
			</td>
		</tr>
	</table>

	<p class="links">
		{{ _("Quick links") }} &bull;
		<a href="/about">{{ _("About IPFire") }}</a>
		&bull;
		<a href="/screenshots">{{ _("Screenshots") }}</a>
	</p>

	<br class="clear" />

	{% for item in latest_news %}
		{{ modules.NewsItem(item) }}
	{% end %}

	<h4>{{ _("Recent news") }}:</h4>
	<ul class="news">
	{% for item in recent_news %}
		<li>{{ modules.NewsLine(item) }}</li>
	{% end %}
	</ul>

	<br class="clear" />

	<p class="right">
		<a class="feed" href="/news.rss">{{ _("Subscribe to the latest news of IPFire") }} (RSS)</a>
		&bull;
		<a href="/news">{{ _("All posts") }} &gt;&gt;</a>
	</p>
{% end block %}

{% block sidebar %}
	{{ modules.SidebarRelease() }}
	{{ modules.SidebarBanner() }}
{% end block %}
