{% extends "base.html" %}

{% block title %}{{ _("IPFire Planet") }} - {{ user.realname }}{% end block %}

{% block content %}
	{% if entries %}
		{% for entry in entries %}
			{{ modules.PlanetEntry(entry) }}
		{% end %}
	{% else %}
		<div class="post">
			{% if lang == "de" %}
				<p>
					Der User {{ user.name }} hat bisher keine Einträge verfasst.
				</p>
			{% else %}
				<p>
					The user {{ user.name }} has no entries, yet.
				</p>
			{% end %}
		</div>
	{% end %}
{% end block %}

{% block sidebar %}
	<h4>{{ user.realname }}</h4>
	<img src="{{ static_url("images/portrait.gif") }}" alt="{{ user.name }}" />
	<ul>
		<li>
			<a href="http://people.ipfire.org/~{{ user.name }}/" target="_blank">{{ _("Web directory") }}</a>
		</li>
		<li>{{ user.mail }}</li>
	</ul>
{% end %}
