{% extends "stasy-base-1.html" %}

{% block title %}{{ _("Profile") }} {{ profile.public_id }}{% end block %}

{% block content %}
	<h3>{{ _("Profile") }} {{ profile.public_id }}</h3>

	<table>
		<tr>
			<td colspan="2">
				<strong>{{ _("Operating system") }}</strong>
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Version") }}
			</td>
			<td>
				{{ profile.release }}
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Architecture") }}
			</td>
			<td>
				{{ profile.cpu.arch }}
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Kernel version") }}
			</td>
			<td>
				{{ profile.kernel }}
			</td>
		</tr>
	</table>

	{% if profile.hypervisor %}
		<h4>{{ _("Hypervisor") }}</h4>

		<table>
			<tr>
				<td>
					{{ _("Vendor") }}
				</td>
				<td>
					{{ profile.hypervisor.vendor }}
				</td>
			</tr>
			<tr>
				<td>
					{{ _("Model") }}
				</td>
				<td>
					{{ profile.hypervisor.model or _("Unknown") }}
				</td>
			</tr>
			<tr>
				<td>
					{{ _("Type") }}
				</td>
				<td>
					{{ profile.hypervisor.type }}
				</td>
			</tr>
		</table>
	{% end %}
	
	<h4>{{ _("Hardware") }}</h4>
	<table>
		<tr>
			<td colspan="2">
				<strong>{{ _("CPU") }}</strong>
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Vendor") }}
			</td>
			<td>
				<a href="/vendor/cpu/{{ profile.cpu.vendor }}">{{ profile.cpu.vendor }}</a>
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Model") }}
			</td>
			<td>
				 {{ profile.cpu.model_string or _("Not available") }}
			</td>
		</tr>
<!--
		<tr>
			<td>
				{{ _("CPU flags") }}
			</td>
			<td>
				{{ locale.list(profile.cpu.flags) }}
			</td>
		</tr>
-->
		<tr>
			<td>
				{{ _("Supports x86_64") }}
			</td>
			<td>
				{% if profile.cpu.capable_64bit %}
					YES
				{% else %}
					NO
				{% end %}
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Supports PAE") }}
			</td>
			<td>
				{% if profile.cpu.capable_pae %}
					YES
				{% else %}
					NO
				{% end %}
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Supports VT-x/AMD-V") }}
			</td>
			<td>
				{% if profile.cpu.capable_virt %}
					YES
				{% else %}
					NO
				{% end %}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<strong>{{ _("Memory") }}<strong>
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Size") }}
			</td>
			<td>
				{{ int(profile.memory) / 1024 }} {{ _("MegaBytes") }}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<strong>{{ _("Disk") }}<strong>
			</td>
		</tr>
		<tr>
			<td>
				{{ _("Size") }}
			</td>
			<td>
				{{ profile.root_size / 1024 }} {{ _("MegaBytes") }}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<strong>{{ _("Devices") }}</strong>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table>
					{% for device in profile.devices %}
						<tr>
							<td>
								{{ device.subsystem.upper() }}
							</td>
							<td>
								<a href="/vendor/{{ device.subsystem.lower() }}/{{ device.vendor }}">{{ device.vendor_string }}</a>
							</td>
							<td>
								<a href="/model/pci/{{ device.vendor }}/{{device.model }}">{{ device.model_string }}</a>
							</td>
							<td>
								{{ device.driver or "&nbsp;" }}
							</td>
						</tr>
					{% end %}
				</table>
			</td>
		</tr>
	</table>

	<p class="links">
		{{ _("Last update") }}: {{ locale.format_date(profile.updated) }}
	</p>
{% end block %}
