{% extends "stasy-base-2.html" %}

{% block content %}
	<h3>{{ _("Statistical accounting") }}</h3>
	<p>
		At this place you can find several charts to find out in what
		specific way the hardware that is used for IPFire is ... XXX.
	</p>

	<table>
		<tr>
			<td><a href="/stats/cpus">{{ _("CPUs") }}</a></td>
			<td><a href="/stats/cpuflags">{{ _("CPU flags") }}</a></td>
			<td><a href="/stats/memory">{{ _("Memory") }}</a></td>
		</tr>
		<tr>
			<td><a href="/stats/oses">{{ _("IPFire versions") }}</a></td>
			<td><a href="/stats/virtual">{{ _("Virtualization") }}</a></td>
			<td><a href="/stats/geo">{{ _("Geographical information") }}</a></td>
		</tr>
		<tr>
			<td><a href="/stats/network">{{ _("Network") }}</a></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
{% end block %}
