{% extends "stasy-base-2.html" %}

{% block title %}Fireinfo{% end block %}

{% block body %}
	<div class="page-header">
		<h1>
			Fireinfo <small>{{ _("A hardware data collection tool for IPFire") }}</small>
		</h1>
	</div>

	<div class="row">
		<div class="span12">
			{% if lang == "de" %}
				<p>
					<strong>Fireinfo</strong> ist ein Tool, welches anonym Informationen
					über die in IPFire-Systemen verbaute Hardware sammelt.
					Diese Daten sollen den Entwicklern helfen zu erkennen, welche
					Hardware am häufigsten eingesetzt wird und sind auch hilfreich
					um Hardware-Probleme ausfindig zu machen.
				</p>
			{% else %}
				<p>
					<strong>Fireinfo</strong> is a tool that anonymously collects statistical
					data from IPFire systems. These data should help the developers to learn
					which hardware is used most often to run an IPFire system, but is also
					handy when it comes to debugging hardware problems.
				</p>
			{% end %}
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="span8 offset2">
			{% if lang == "de" %}
				<p>
					Bitte geben Sie die Profil-ID von ihrem System ein, welche
					Sie auf der Fireinfo-Seite des Webinterfaces finden können:
				</p>
			{% else %}
				<p>
					Please enter the profile ID of your system, which can be found
					on the fireinfo page on the web interface, to see your profile:
				</p>
			{% end %}

			<form class="well form-search" method="POST" action="">
				<input type="text" class="span6 search-query" name="profile_id" value="">
				<button type="submit" class="btn">{{ _("Show profile") }}</button>
				{{ xsrf_form_html() }}
			</form>
		</div>
	</div>
{% end block %}
