{% extends "base-1.html" %}

{% block title %}{{ _("Torrent Downloads") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ _("IPFire Torrent Tracker") }}</h1>
	</div>

	{% if lang == "de" %}


	{% else %}
		<p>
			This is the home of the IPFire torrent tracker.
			This tracker is used to distribute the IPFire
			downloads in an efficient way with help of the Bittorrent
			protocol.
		</p>
		<p>
			The Bittorrent protocol transfers large files from one
			peer to an other without need to download data from
			a central server. However, there is a server which is
			called the tracker that enables the clients to talk to
			each other.
		</p>
	{% end %}

		<table class="download-torrents">
			<tr>
				<th>{{ _("Release") }}</th>
				<th class="seeds">{{ _("Seeders") }}</th>
				<th class="peers">{{ _("Peers") }}</th>
			</tr>
			{% for torrent in torrents %}
				<tr>
					<td><a href="torrent/{{ torrent.hash }}">{{ torrent.name }}</a></td>
					<td class="seeds">{{ torrent.seeds }}</td>
					<td class="peers">{{ torrent.peers }}</td>
				</tr>
			{% end %}
		</table>

{% end block %}
