{% extends "base-1.html" %}

{% block title %}{{ _("Torrent Downloads") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ _("IPFire Torrent Tracker") }}</h1>
	</div>

	<table class="download-torrent-detail">
		<tr>
			<td>{{ _("Release") }}</td>
			<td>
				<a href="http://downloads.ipfire.org/release/{{ release.id }}">{{ release.name }}</a>
			</td>
		</tr>
		<tr>
			<td>{{ _("Hash") }}</td>
			<td>{{ release.torrent_hash }}</td>
		</tr>
	</table>

	<hr>

	{% if torrent.peers %}
		<h3>{{ _("Peers") }}</h3>
		{{ modules.TrackerPeerList(torrent.peers, percentages=True) }}
	{% end %}

	{% if torrent.seeds %}
		<h3>{{ _("Seeds") }}</h3>
		{{ modules.TrackerPeerList(torrent.seeds) }}
	{% end %}
{% end block %}
