{% extends "base.html" %}

{% block title %}{{ _("Translations") }}{% end block %}

{% block content %}
	<h3>IPFire {{ _("Translation Status") }}</h3>
	
	<div id="tabs">
		<ul>
			{% for project in projects %}
				<li>
					<a href="#{{ project.id }}">{{ project.name }}</a>
				</li>
			{% end %}
		</ul>
	</div>
	
	{% for project in projects %}
		<div id="{{ project.id }}">
			<p><strong>{{ _("Description") }}:</strong> {{ project.desc }}</p>
			<br />
			<table class="translate">
				<tr>
					<th>{{ _("Language") }}</th>
					<th>{{ _("Translated") }}</th>
					<th>{{ _("Untranslated") }}</th>
					<th>{{ _("Fuzzy") }}</th>
					<th>{{ _("Status") }}</th>
				</tr>

				{% for translation in project.translations %}
					<tr>
						<td class="lang"><img src="{{ static_url("images/flags/%s.png" % translation.code) }}"
							alt="{{ translation.code }}" />{{ translation.lang }}</td>
						<td>{{ translation.translated }}</td>
						<td>{{ translation.untranslated }}</td>
						<td>{{ translation.fuzzy }}</td>
						<td>{{ translation.percent }}</td>
					</tr>
				{% end %}
			</table>
	{% end %}

	<p class="right">
		<strong>{{ _("Template") }}</strong> - {{ project.total_strings }} strings
	</p>
{% end block %}

{% block javascript %}
	<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
		});
	</script>
{% end block %}
