{% extends "../base-2.html" %}
		
{% block title %}{{ _("Artwork") }}{% end block %}
 
{% block body %}
	<div class="page-header">
		<h1>{{ _("Artwork") }}</h1>
	</div>

	{% if lang == "de" %}
		<p>
			Auf dieser Seite befinden sich Logos und Printvorlagen.
		</p>
		<p>
			Alle Rechte an künstlerischen Werken bzw. deren Inhalte, die nicht
			explizit anders gekennzeichnet sind, gehören dem IPFire-Projekt
			und sind folglich urheberrechtlich geschützt und dürfen nur mit
			ausdrücklicher Genehmigung verwendet werden.
		</p>
	{% else %}
		<p>
			On this page, you will find a logos and templates for printing.
		</p>
		<p>
			All rights of artistic works and their content, which are not
			explicitly labled belong to the IPFire project and are protected
			by copyright and may not be used without explicit authorization.
		</p>
	{% end %}

	<h2>{{ _("The IPFire Logo") }}</h2>
	<ul class="thumbnails">
		{% for i in ("512x512", "256x256", "128x128", "64x64", "32x32") %}
			<li class="span4">
				<a class="thumbnail" href="{{ static_url("images/tux/ipfire_tux_%s.png" % i) }}">
					<img src="{{ static_url("images/tux/ipfire_tux_%s.png" % i) }}" alt="{{ _("Logo") }}">
				</a>
			</li>
		{% end %}
	</ul>
	<hr>

	<h2>{{ _("Flyers, Rollups, CDs and more") }}</h2>
	{% if lang == "de" %}
		<p>
			Diese Arbeiten wurden erstellt von
			<a href="http://www.elricco.com">elricco media services</a>.
		</p>
	{% else %}
		<p>
			These artworks have been designed by
			<a href="http://www.elricco.com">elricco media services</a>.
		</p>
	{% end %}

	<ul class="thumbnails">
		{% for i in ("rollup", "flyer", "cd_schuber", "cd_label") %}
			<li class="span6">
				<a class="thumbnail" href="{{ static_url("images/artwork/%s.pdf" % i) }}">
					<img src="{{ static_url("images/artwork/%s_tn.png" % i) }}" alt="{{ _("Artwork") }}">
				</a>
			</li>
		{% end %}
	</ul>
{% end block %}
