{% extends "../base-1.html" %}
		
{% block title %}{{ _("Donation") }}{% end block %}
 
{% block body %}
	<div class="page-header">
		<h1>{{ _("Donation") }}</h1>
	</div>

	{% if lang == "de" %}
		<p>
			IPFire ist ein Open Source-Projekt.
			Nutzer und die Gemeinschaft sind das wertvollste und wichtigste
			Gut, weil sich das Projekt auf sie stützt.
			Die Entwicklung und die Fortführung des Projekts sind allein
			einer Gruppe von Freiwilligen zu verdanken.
			Sie haben ein Produkt entwickelt, das tagtäglich von
			Hunderttausenden genutzt wird.
		</p>
		<p>
			Um die Qualität von IPFire noch weiter verbessern zu können,
			sowie Aktivitäten des Projekts auszuweiten und die Verbreitung
			zu steigern, sind finanzielle Mittel unabdingbar.
			Jeder Sponsor kann seinen Teil dazu beitragen, diese Ziele
			zu erreichen, das Projekt finanziell gesund zu erhalten und
			somit langfristig abzusichern.
		</p>
		<p>
			Deshalb ermutigen wir jeden, der IPFire einsetzt einen Beitrag zu leisten.
			Danke dafür.
		</p>
	{% else %}
		<p>
			IPFire is an Open Source project.
			The users and the community are the most valuable and most important factor,
			because those people are the foundation of the project.
			Development and keeping the project healthy is carried out by a group of volunteers,
			that in time have built a very successful product,
			which hundreds of thousands of people use every day.
			We appreciate every bit of <a href="/getinvolved">feedback, every bug report, patch and contribution</a>.
		</p>
		<p>
			We would like to extend our activities and improve the quality of IPFire even more.
			For that, we will need financial resources to support the maintenance,
			improvement and promotion of the IPFire project.
			Sponsorship is a good way to ensure the longevity and overall health of the project.
		</p>
		<p>
			So we encourage anyone who downloads and uses IPFire to donate.
			It is very much appreciated.
		</p>
	{% end %}

	<hr>

	<div class="row">
		<div class="span10 offset1">
			{% module DonationBox() %}

			<hr>

			<div class="ac">
				<strong>{{ _("Did you know...?") }}</strong>

				{% if lang == "de" %}
					Du kannst die Implementierung deiner bevorzugten Funktion mit Hilfe einer Spende auf der
					<a href="http://wishlist.ipfire.org/">IPFire Wunschliste</a> unterstützen!
				{% else %}
					You can support the implementation of your favorite feature on the
					<a href="http://wishlist.ipfire.org/">IPFire wishlist</a>!
				{% end %}
			</div>
		</div>
	</div>

	<br>

	<div class="page-header">
		<h4>{{ _("How do we use financial support?") }}</h4>
	</div>

	<div class="row">
		<div class="span6">
			{% if lang == "de" %}
				<p>
					Die gesammelten Spenden werden direkt dazu verwendet,
					das Projekt zu verbessern und das hohe Level an Qualität
					zu erhalten.
				</p>
			{% else %}
				<p>
					The sponsored funds will be directly spent to improve
					and maintain the high quality code base that IPFire is built upon.
				</p>
			{% end %}

			{% if lang == "de" %}
				<p>
					Ebenfalls sammeln wir um die folgenden Aktivitäten zu unterstützen:
				</p>
				<ul>
					<li>
						Entwickler, die neue Funktion implementieren und Fehler in IPFire beseitigen
					</li>
					<li>
						Verbessung von Dokumentation, Tutorials und des Community-Supports
					</li>
					<li>
						Die Bekanntheit von IPFire durch Werbung zu fördern
					</li>
				</ul>
			{% else %}
				<p>
					We would also like to fund the following activities:
				</p>
				<ul>
					<li>
						Developers implementing new features and fixing bugs in IPFire
					</li>
					<li>
						Improve documentation, tutorials and community support
					</li>
					<li>
						Promote IPFire and do advertising
					</li>
				</ul>
			{% end %}
		</div>

		<div class="span6">
			<h4>{{ _("Research & Development") }}</h4>

			{% if lang == "de" %}
				<p>
					Forschung und Entwicklung sind uns sehr wichtig,
					um IPFire auch den Weg für die Zukunft zu bereiten.
					Ein Beispiel dafür ist die Portierung auf neue Architekturen.
				</p>
				<p>
					Einige Themen, in welchen wir uns engagieren wollen sind unter anderem
					ARM, IPv6 und eine neuartige Weboberfläche.
				</p>
			{% else %}
				<p>
					We would also like to do some research and development to
					make IPFire ready for the future.
					One example is we'd like to acquire new hardware platforms
					and port IPFire to them.
				</p>
				<p>
					Some of the big things we would like to dig in are ARM, IPv6 and a new WUI.
				</p>
			{% end %}
		</div>
	</div>
{% end block %}
