{% extends "../base-1.html" %}

{% block title %}{{ _("Get involved") }}{% end block %}

{% block header %}
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h1>{{ _("Get involved") }}</h1>
			<p class="lead">
				{{ _("Because making a difference is easy") }}
			</p>
		</div>
	</header>
{% end header %}

{% block body %}
	<div class="row">
		<div class="col-lg-7 col-md-7">
			{% if lang == "de" %}
				<p>
					Die Basis des IPFire-Projekts sind seine Nutzer und
					die Community, welche freiwillig beitragen und ihre
					Zeit in die stetige Verbessung von IPFire investieren - jeden Tag.
				</p>
				<p>
					Wir glauben, dass eine starke Community der erste
					Schritt zum Erfolg ist.
					Und so arbeiten Menschen auf der ganzen Welt
					zusammen und machen IPFire zu dem, was es heute ist.
				</p>
			{% else %}
				<p>
					Because IPFire is an Open Source project, the users and the community
					are the foundation of it. Voluteers keep the project running and spend
					their time improving IPFire - every single day.
				</p>
				<p>
					We believe that a strong community is the first step to
					create a successful project. Every day, people from
					all around the world are working together and
					making IPFire as awesome as it is today.
				</p> 
			{% end %}

			<hr>

			<h4>{{ _("First steps") }}</h4>
			{% if lang == "de" %}
				<p>
					Neben der Entwicklung selbst gibt es in einem Projekt
					noch viel mehr zu tun.
					Es gibt Gruppen, welche sich darum kümmern Einsteigern
					Hilfe zu leisten, Autoren von Dokumentation, Übersetzer
					und vieles mehr.
				</p>
				<p>
					Das ist nur ein Auszug aus den vielen Möglichkeiten für Dich
					beim Projekt mitzumachen. Doch zuerst sollte jeder folgende
					Dinge tun:
				</p>
			{% else %}
				<p>
					Besides development, there is a significant amount more to do in a project.
					There are groups which care about helping beginners to get started
					with IPFire, or people who write documentation &amp; coordinate translations.
				</p>
				<p>
					The first steps everyone who wants to get involved should do are:
				</p>
			{% end %}

			<ul>
				<li>
					{% if lang == "de" %}
						Bleibe auf dem Laufenden. Abboniere z.B. die RSS-Feeds oder
						schreibe dich auf den passenden Mailinglisten ein.
					{% else %}
						Stay up to date. Subscribe to the RSS-Feeds and
						to some of the mailing lists that interest you.
					{% end %}
				</li>
				<li>
					{% if lang == "de" %}
						Nimm teil an der Diskussion. Zum Beispiel im
						<a href="http://forum.ipfire.org">Forum</a>.
					{% else %}
						Take part in the discussion (for example on our
						<a href="http://forum.ipfire.org">forums</a>).
					{% end %}
				</li>
			</ul>
		</div>

		<div class="col-lg-5 col-md-5">
			<div class="well">
				<h4>
					<a href="/donate">{{ _("Donations") }}</a>
				</h4>
				{% if lang == "de" %}
					<p>
						Du kannst dem Projekt mit einer Spende helfen
						seinen Fortbestand zu sichern.
					</p>
					<p>
						Das hilft ebenso um neue Entwicklungen vorranzutreiben
						und IPFire zu verbessern.
					</p>
				{% else %}
					<p>
						You can help by making a financial contribution to the project.
					</p>
					<p>
						Donations will ensure the sustainability and health of the
						project. They extend our activities and improve the quality
						of the code base.
					</p>
				{% end %}

				<p class="ac">
					<a class="btn btn-primary" href="/donate">{{ _("Donate") }}</a>
				</p>

				<hr>

				<h4>
					<a href="http://wishlist.ipfire.org">{{ _("Wishlist") }}</a>
				</h4>

				{% if lang == "de" %}
					<p>
						Die <em>IPFire Wunschliste</em> ist die Crowdfunding-Plattform
						des IPFire-Projekts.
					</p>
				{% else %}
					<p>
						The <em>IPFire Wishlist</em> is the crowd funding platform
						of the IPFire project.
					</p>
				{% end %}

				<p class="ac">
					<a class="btn btn-primary" href="http://wishlist.ipfire.org/">{{ _("Make a wish") }}</a>
				</p>
			</div>
		</div>
	</div>

	<hr>
	<h3>{{ _("Contribute yourself") }}</h3>

	<div class="row">
		<div class="col-lg-4 col-md-4">
			<h4>{{ _("Development") }}</h4>
			{% if lang == "de" %}
				<p>
					Die Entwicklung ist die größte Aufgabe, die das
					Projekt zu meistern hat.
				</p>
				<p>
					Mehr dazu, wie du bei der Entwicklung helfen kannst
					befindet sich auf der <a href="/development">Entwicklungssseite</a>.
				</p>
			{% else %}
				<p>
					Development is the major task of this project.
				</p>
				<p>
					Read more about getting involved into hacking the code on the
					<a href="/development">development page</a>.
				</p>
			{% end %}
		</div>

		<div class="col-lg-4 col-md-4">
			<h4>{{ _("Translation") }}</h4>
			{% if lang == "de" %}
				<p>
					Wenn du Englisch und noch eine weitere Sprache sprichst,
					dann kannst du dabei helfen IPFire in deine Sprache zu übersetzen.
				</p>
			{% else %}
				<p>
					If you are able to read English and speak an other language, you
					can help us translating IPFire into your language.
				</p>
			{% end %}

			<p class="ac">
				<a class="btn btn-default" href="http://wiki.ipfire.org/projects/translation/start">
					<i class="glyphicon glyphicon-user"></i> {{ _("Translation team") }}
				</a>
			</p>
		</div>

		<div class="col-lg-4 col-md-4">
			<h4>{{ _("Promotion") }}</h4>
			{% if lang == "de" %}
				<p>
					Wenn dir IPFire gefällt, dann lass das auch andere wissen.
					Hilf uns IPFire bekannt zu machen indem du ein Review schreibst
					oder Freunden und Kollegen davon erzählst.
				</p>
				<p>
					Halte einen Vortrag in deiner Linux-User-Group,
					Schule oder Uni und beantworte Fragen der Zuhörer.
				</p>
			{% else %}
				<p>
					If you like IPFire, let people know! Help us to promote IPFire
					by writing reviews or by telling your friends and colleagues.
				</p>
				<p>
					Consider holding a talk at your local Linux user group, school or university
					and answer any question about IPFire.
				</p>
			{% end %}
		</div>
	</div>
{% end block %}
