/bugtracker
/build/db
/build/tmp
/download/development
/download/iso
/forum
/git
/mirror1
/pakfire/2.*
/pakfire/3.*
/pakfire/version
/source/hashes.db
/source/source-*
/source/toolchains
/svn
/wiki
*.py[co]
