{% extends "base.html" %}

{% block title %}{{ _("Profile not found") }}}{% end block %}

{% block body %}
	<img class="pull-right" src="{{ static_url("images/error/404.png") }}" alt="{{ _("Error") }}" />
	<div class="page-header">
		<h1>404 - {{ _("Profile not found") }}</h1>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12">
			<p>
				{% if lang == "de" %}
					Es wurden keine Daten für das Profil <code>{{ profile_id }}</code>
					gefunden.
				{% else %}
					There was no profile data found for profile <code>{{ profile_id }}</code>.
				{% end %}
			</p>
			<p>
				{% if lang == "de" %}
					Der Eigentümer dieses Profils hat möglicherweise der Veröffentlichung
					der Daten nicht zugestimmt oder diese abgeschaltet.
				{% else %}
					The profile owner has probably not submitted any data 
					or recently disabled the transmission.
				{% end %}
			</p>
			<p>
				{% if lang == "de" %}
					Falls dieses Profil Ihr eigenes ist, so können Sie die Veröffentlichung
					im Web-Interface
					<a href="http://wiki.ipfire.org/de/fireinfo/my_profile" target="_blank">einschalten</a>.
				{% else %}
					If this is your own profile, you can
					<a href="http://wiki.ipfire.org/en/fireinfo/my_profile" target="_blank">enable</a>
					the submission on the web user interface.
				{% end %}
			</p>
		</div>
	</div>
{% end block %}
