body {
	position: relative;
	padding-top: 50px;

	/* SVG as background image (IE9/Chrome/Safari/Opera) */ 
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2ODQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjODgwNDAwIiBvZmZzZXQ9IjU3JSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c2ODQpIiAvPgo8L3N2Zz4=);

	background-image: linear-gradient(
		bottom,
		#000000 0%,
		#880400 57%
	);
	background-image: -o-linear-gradient(
		bottom,
		#000000 0%,
		#880400 57%
	);
	background-image: -moz-linear-gradient(
		bottom,
		#000000 0%,
		#880400 57%
	);
	background-image: -webkit-linear-gradient(
		bottom,
		#000000 0%,
		#880400 57
	);
	background-image: -ms-linear-gradient(
		bottom,
		#000000 0%,
		#880400 57%
	);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000000),
		color-stop(0.57, #880400)
	);
	background-attachment: fixed;
}

.container-body {
	background-color: white;

	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

table.table-fireinfo td.bar {
	width: 70%;
}

table.table-fireinfo td.key {
	width: 20%;
}

table.table-fireinfo td.val {
	width: 10%;
}
