{% extends "../base-feature.html" %}
		
{% block title %}{{ _("About IPFire") }}{% end block %}

{% block content %}
	<h3>{{ _("About IPFire") }}</h3>

	<div class="seeleftbox">
		{% if lang == "de" %}
			<p>
				Auf der rechten Seite können Sie durch alle Funktionen von IPFire
				durchblättern.
			</p>
		{% else %}
			<p>
				See the navigation on the right and browse through the wonderful features
				of IPFire.
			</p>
		{% end %}
	</div>

	{% if lang == "de" %}
		<p>
			<strong>IPFire</strong> ist auf der Grundidee einer hohen "Flexibilität" aufgebaut. Das ermöglicht
			aus einer einzigen Basis verschiedene Einsatzzwecke optimal zu unterstützen. Beginnend mit einem
			Firewall-System bestehend aus wenigen Megabytes ist es möglich IPFire auch als Dateiserver,
			Proxyserver, Wireless Access Point oder	VPN-Gateway für Mitarbeiter, Filialen oder Kunden zu
			betreiben. Dies und mehr ist möglich durch einen eigens entwickelten Paketmanager, der nur
			installiert was gewollt	ist und Sicherheitsupdates sehr einfach macht.
		</p>
		<p>
			Dies ist der beste Weg ein Netzwerk sicher zu gestalten, denn Sicherheit ist kein Programm,
			das einfach installiert werden kann und um welches man sich nicht mehr kümmern braucht.
			Hingegen kann Sicherheit von Unternehmen zu Unternehmen ganz anders aussehen und das
			erfordert Anpassungsfähigkeit, die IPFire mit sich bringt.
		</p>
		<p>
			<em>Diese Tabs zeigen was mit IPFire alles möglich ist. Jede Rubrik trägt ihren Teil zum
			Gesamtkonzept bei und macht IPFire ganz individuell zu dem was es ist.</em>
		</p>
	{% else %}
		<p>
			The foundation of <strong>IPFire</strong> is the high level of flexibility which lets us
			configure different versions of this operating system out of a single base. Beginning with a
			small firewall system of a few megabytes, it is possible to run IPFire as a file server or
			VPN gateway for	staff, branches or customers. This modularity means that yor version of
			IPFire runs with exactly what you require and nothing more.
			All features are easily configured with the package manager, which also
			makes updates very easy.
		</p>
		<p>
			We believe that this is the best way to provide security to a network. There is no way to 
			distribute a static appliance because security menas different things to different people,
			and changes over time. Security is more of a process paired with behaviour and restrictions.
			IPFire has been designed to be flexible enough to fit into any existing security architecture.
		</p>
		<p>
			<em>Please click through the tabs and take a look at the possibilities IPFire offers for
			your personal concept of network.</em>
			If you're still deciding what that concept is, don't worry. IPFire comes with intelligent
			defaults for settings whereever possible.
		</p>
	{% end %}

	<div class="line"></div>

	<div class="screenshots">
		<a rel="screens" href="{{ static_url("images/screenshots/en/concept/index-detail-1.png") }}"
			title="{{ _("A quick overview over all connections.") }}"><img alt="{{ _("Image 1") }}"
			src="{{ static_url("images/screenshots/en/concept/index-detail-1_thumb.png") }}" />
		</a>
		<a rel="screens" href="{{ static_url("images/screenshots/en/concept/traffic-graph-1.png") }}"
			title="{{ _("IPFire comes with lots of monitoring like traffic graphs.") }}"><img
			alt="{{ _("Image 2") }}" src="{{ static_url("images/screenshots/en/concept/traffic-graph-1_thumb.png") }}" />
		</a>
	</div>
{% end block %}
