{% extends "../base-1.html" %}
		
{% block title %}{{ _("CeBIT special") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ _("IPFire at CeBIT 2010") }}</h1>
	</div>

	<img class="pull-right" src="{{ static_url("images/cebit-177px_schatten.png") }}" alt="CeBIT">

	{% if lang == "de" %}
		<p>
			Vom 2. bis 6. März 2010 fand die <strong>CeBIT</strong> in Hannover statt.
			Das IPFire-Projekt war in diesem Jahr mit einem Stand in der
			<em>Open Source Project Lounge</em> vertreten.
		</p>
		<p>
			Unser Danke gebührt allen Spendern, die uns bei diesem Stand durch
			ihre Mithilfe unter die Arme gegriffen haben.
			Wir danken der <a href="http://www.linuxnewmedia.de/Produkte/Events">Linux New Media AG</a>
			und der <a href="http://www.cebit.de/opensource_d">Messegesellschaft</a>,
			welche für ausgewählte Open Source-Projekte kostenlose Stände zur
			Verfügung gestellt haben.
			Die <strong>CeBIT</strong>, die weltgrößte Computer- und Telekommunikationsmesse,
			war eine große Chance, das Projekt bekannter zu machen und neue Kontakte zu knüpfen.
		</p>
	{% else %}
		<p>
			From 2nd to 6th March 2010, the IPFire project attended CeBIT in
			Hanover, Germany with its own booth which was to be found
			in the <em>Open Source Project Lounge</em>.
		</p>
		<p>
			We would like to thank all the people who contributed to the booth
			and made it happening.
			Our very special thanks go out to
			<a href="http://www.linuxnewmedia.de/Produkte/Events">Linux New Media AG</a> and
			<a href="http://www.cebit.de/opensource_d">Messegesellschaft</a>,
			who offered free booths to selected Open Source	projects.
			This was an excellent chance for IPFire to gain more
			recognition and to get in touch new people.
		</p>
	{% end %}

	<br style="clear: both;">
	<hr>

	<div class="row">
		<div class="span8 offset2">
			<iframe width="640" height="360" src="http://www.youtube.com/embed/9zUcQouQ1sE?rel=0" frameborder="0" allowfullscreen></iframe>
			<a class="pull-right" href="http://eine-minute.blogspot.com/2010/03/ipfire-eine-utm-auf-opensource-basis.html">"eine-minute" Blog</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span8 offset2">
			<ul class="thumbnails">
				{% for i in range(1, 5) %}
					<li class="span4">
						<a class="thumbnail" href="{{ static_url("images/cebit/cebit_2010_%d.jpg" % i) }}">
							<img src="{{ static_url("images/cebit/cebit_2010_%d_tn.jpg" % i) }}" alt="{{ _("CeBIT") }}">
						</a>
					</li>
				{% end %}
			</ul>
		</div>
	</div>
{% end block %}
