{% extends "../base-1.html" %}
		
{% block title %}{{ _("Donation") }}{% end block %}
 
{% block body %}
	<div class="page-header">
		<h1>{{ _("Please consider donating!") }}</h1>
	</div>

	<div class="row">
		<div class="span10 offset1">
			{% if lang == "de" %}
				<p>
					IPFire ist kostenlos und das Projekt hat keine direkten
					Einnahmen. Stattdessen wird es vollständig durch Spenden
					seiner Benutzer finanziert, welche die Ambition haben
					ein Produkt zu fördern, welches mit denjenigen,
					die von großen Unternehmen unterstützt werden,
					konkurrieren kann.
				</p>
				<p>
					Finanzielle Mittel sind essenziell um Sever und Equipment
					zu bezahlen, Notwendigkeiten der Distribution zu finanzieren
					und die Arbeit der Leute hinter dem Projekt zu fördern.
				</p>
				<p>
					Wir ermutigen jeden, der IPFire herunterlädt und nutzt
					einen Beitrag zu leisten:
					<strong>
						Wir bitten um eine Spende und bedanken uns im Voraus
						sehr dafür.
					</strong>
				</p>
			{% else %}
				<p>
					IPFire is free of cost and does not generate any direct sort
					of income. It is funded by donations and although it is
					financially supported by its own community of users, its
					ambition is to compete with projects which are backed by large
					companies.
				</p>
				<p>
					Financial ressources are essential for the IPFire project to pay
					for servers and equipment, finance the needs of the distribution
					and fund the work of the people behind it.
				</p>
				<p>
					We encourage anyone who downloads and uses IPFire to contribute
					to the distribution:
					<strong>
						Please donate and encourage others to do so	as well.
						It is very much appreciated.
					</strong>
				</p>
			{% end %}
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span5 offset1">
			{% if lang == "de" %}
				<h2>Über Paypal spenden</h2>
				<br><br>

				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="Z44GQ52ZHKVFW">
					<input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
					<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
				</form>

				<p>
					<em>
						Falls du keinen PayPal-Account hast,
						kann mit PayPal auch über Kreditkarte gespendet
						werden. Dafür einfach auf den Button klicken.
					</em>
				</p>
			{% else %}
				<h2>Donate with PayPal</h2>
				<br><br>

				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="HHBTSN9QRWPAY">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
				</form>

				<p>
					<em>
						If don't have or want a PayPal account,
						you can also donate with your credit card.
						Just click on the button.
					</em>
				</p>
			{% end %}
		</div>

		<div class="span5">
			{% if lang == "de" %}
				<h2>Überweisung</h2>
				<p>
					Ebenso ist eine Spende auf ein Bankkonto möglich.
				</p>

				<h4>Euro-Überweisung/SEPA</h4>
				<blockquote>
					IBAN: DE86 4265 0150 1020 0768 89<br>
					BIC-/SWIFT-Code: WELADED1REK
				</blockquote>

				<h4>Überweisung innerhalb Deutschland</h4>
				<blockquote>
					Kontoinhaber: Michael Tremer<br>
					Kontonummer: 1020076889<br>
					Bankleitzahl: 426 501 50
				</blockquote>
			{% else %}
				<h2>Bank Transfer</h2>
				<p>
					It is also possible to transfer donations into
					our bank account.
				</p>

				<h4>euro bank transfer</h4>
				<blockquote>
					IBAN: DE86 4265 0150 1020 0768 89<br>
					BIC-/SWIFT-Code: WELADED1REK
				</blockquote>

				<h4>bank transfer within Germany</h4>
				<blockquote>
					Bank account owner: Michael Tremer<br>
					Bank account number: 1020076889<br>
					Bank code: 426 501 50
				</blockquote>
			{% end %}
		</div>
	</div>
{% end block %}
