{% extends "../base-feature.html" %}

{% block title %}{{ _("About IPFire") }}{% end block %}

{% block bodyA %}
	<div class="page-header">
		<h1>{{ _("About IPFire") }}</h1>
	</div>

	<div class="row">
		<div class="span5 offset2">
			<img src="{{ static_url("images/tux/ipfire_tux_512x512.png") }}" alt="IPFire Logo" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span9">
			{% if lang == "de" %}
				<p>
					<strong>IPFire</strong> wurde mit Augenmerk auf Modularität und einem hohen
					Level an Flexibilität entwickelt. Es ist kinderleicht verschiedene Konfigurationen
					zu installieren, wie zum Beispiel eine Firewall, einen Proxy-Server oder ein
					VPN-Gateway.
					Das modulare Design stellt sicher, dass nur exakt die Module laufen, die auch
					benötigt werden und nichts weiter.
					Alles zusammen lässt sich duch einen Paketmanager einfach verwalten und
					aktualisieren.
				</p>
				<p>
					Das IPFire Entwicklerteam ist sich im Klaren, dass Sicherheit von Anwendungsfall
					zu Anwendungsfall ganz verschieden aussehen kann und sich auch über die Zeit
					verändert.
					Für diesen Fall erlaubt die Modularität und Flexibilität eine einfache
					Intergration in jede bestehende Sicherheitsarchitektur.
					Nicht zu vergessen ist, dass Einfachheit in der Bedienung eine
					Schlüsseleigenschaft ist.
					Wenn all dies im Moment ein wenig viel klingt, so kommt IPFire mit
					Standardeinstellungen, die einen sinnvollen Einsatz sofort nach der
					Installation ermöglichen.
				</p>
				<p>
					<em>
						Die Links in der Sidebar zeigen, was mit IPFire alles möglich ist
						und sind einen genaueren Blick wert.
					</em>
				</p>
			{% else %}
				<p>
					<strong>IPFire</strong> was designed with both modularity and a high-level of
					flexibility in mind. You can easily deploy many variations of it, such as a firewall,
					a proxy server or a VPN gateway.
					The modular design ensures that it runs exactly what you've configured it for and
					nothing more. Everything is simple to manage and update through the package manager,
					making maintenance a breeze.
				</p>
				<p>
					The IPFire development team understands that security means different things to
					different people and certainly can change over time.
					The fact that IPFire is modular and flexible make it perfect for integrating
					into any existing security architecture.
					Don't forget that ease-of-use is a key principle.
					If all this sounds a little too much for you, IPFire comes with great default
					settings out-of-the-box, meaning it's a snap to get going quickly!
				</p>
				<p>
					<em>
						Above are some links that we encourage you to click through.
						Please take a look at all of the features and possibilities
						which IPFire offers for your network. 
					</em>
				</p>
			{% end %}
		</div>
	</div>
{% end block %}
