{% extends "../base.html" %}

{% block title %}{{ _("Imprint") }}{% end block %}

{% block content %}
	<h3>{{ _("Imprint") }}</h3>
	
	{% if lang == "de" %}
		<p>
			Dieses Projekt ist ein Open-Source-Projekt und verfolgt keine kommerziellen Ziele.
		</p>
		
		<p>
			<strong>Verantwortliche im Sinne von § 5 TMG, § 55 RfStV:</strong>
			<br />

			Michael Tremer (<a href="mailto:michael@ipfire.org">michael@ipfire.org</a>)<br />
			Gerhardstrasse 8<br />
			45711 Datteln<br /><br />
		
			Christian Schmidt (<a href="mailto:maniacikarus@ipfire.org">maniacikarus@ipfire.org</a>)<br />
			Mathildenstr. 25<br />
			90489 Nürnberg<br /><br />

		</p>
		
		<h4>Haftungsausschluss</h4>
		<p>
			<b>1. Inhalt des Onlineangebotes</b><br />
			Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit 
			oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, 
			welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung 
			oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter 
			und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, 
			sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges 
			Verschulden vorliegt.<br />
			Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, 
			Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, 
			zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
		</p>
	
		<p>
			<b>2. Verweise und Links</b><br />
			Bei direkten oder indirekten Verweisen auf fremde Internetseiten ("Links"), 
			die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine 
			Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der 
			Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, 
			die Nutzung im Falle rechtswidriger Inhalte zu verhindern. <br />
			Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine 
			illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. 
			Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft 
			der gelinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert 
			er sich hiermit ausdrücklich von allen Inhalten aller gelinkten /verknüpften Seiten, 
			die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb 
			des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge 
			in vom Autor eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. 
			Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, 
			die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, 
			haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, 
			der über Links auf die jeweilige Veröffentlichung lediglich verweist.
		</p>

		<p>
			<b>3. Urheber- und Kennzeichenrecht </b><br />
			Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, 
			Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, 
			Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, 
			Videosequenzen und Texte zurückzugreifen. <br />
			Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- 
			und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts 
			und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung 
			ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind! <br />
			Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. 
			Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in 
			anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
		</p>
	
		<p>
			<b>4. Datenschutz </b><br />
			Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten 
			(Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens 
			des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller 
			angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten 
			bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen 
			des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, 
			Telefon- und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich 
			angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von 
			sogenannten Spam- Mails bei Verstössen gegen dieses Verbot sind ausdrücklich vorbehalten.
		</p>

		<p>
			<b>5. Rechtswirksamkeit dieses Haftungsausschlusses </b><br />
			Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese 
			Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden 
			Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen 
			Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
		</p>
		
		<p>
			Dieses Impressum gilt für alle mit dem IPFire-Projekt verbundenen Webseiten.
		</p>
		
	{% else %}
		Because of the fact that the people who started this project are living
		in Germany, see the <a href="{{ lang_link("de") }}">german legal notes</a>.
	
	{% end %}

{% end block %}
