{% extends "../base-2.html" %}
		
{% block title %}{{ _("Getting support") }}{% end block %}

{% block content %}
	<h3>{{ _("Documentation") }}</h3>
	<a href="http://wiki.ipfire.org/{{ lang }}/start" target="_blank">
		<img class="floatTR" src="{{ static_url("images/icons/wiki.png") }}" alt="wiki" />
	</a>

	{% if lang == "de" %}
		<p>
			Die erste Anlaufstelle für Probleme ist das
			<a href="http://wiki.ipfire.org/{{ lang }}/start" target="_blank">Wiki</a>.
			Das Wiki enthält für die meisten Fragen die passende Antwort.
		</p>
	{% else %}
		<p>
			The first place to go when you need help is the
			<a href="http://wiki.ipfire.org/{{ lang }}/start" target="_blank">wiki</a>.
			It is a collection of pages which will answer most of the question that may come up.
		</p>
	{% end %}
	<p>
		{{ _("Really important guides are:") }}
	</p>
	<ul class="list">
		<li><a href="http://wiki.ipfire.org/{{ lang }}/installation/start" target="_blank">{{ _("Installation guide") }}</a>
			- {{ _("Learn how to start.") }}</li>
		<li><a href="http://wiki.ipfire.org/{{ lang }}/configuration/start" target="_blank">{{ _("Configuration") }}</a></li>
		<li><a href="http://wiki.ipfire.org/{{ lang }}/hardware/start" target="_blank">{{ _("Hardware") }}</a></li>
	</ul>

	<br class="clear" />

	<p class="note">
		{% if lang == "de" %}
			Die Dokumentation im Wiki wird von der Community gepflegt. Jedem steht es offen sich
			mit seinem Account anzumelden und sein Wissen zu teilen. Das ist die beste Möglichkeit
			um das Wiki zu der umfassendsten Resource für Informationen rund um IPFire zu machen.
		{% else %}
			The wiki is maintained by the community. Feel free to log on with your account and share your
			knowledge. This is the only way to get the wiki to the best source of information about IPFire.
		{% end %}
	</p>
	<br class="clear" />

	<h3>{{ _("Forum") }}</h3>
	<a href="http://forum.ipfire.org" target="_blank">
		<img class="floatTR" src="{{ static_url("images/icons/forum.png") }}" alt="forum" />
	</a>

	{% if lang == "de" %}
		<p>
			Die zweite Informationsquelle ist das <a href="http://forum.ipfire.org" target="_blank">Forum</a>.
			Spezielle Fragen, die nicht im Wiki beantwortet wurden, können hier gestellt werden.
		</p>
	{% else %}
		<p>
			The second place is the <a href="http://forum.ipfire.org" target="_blank">forum</a>.
			If your question was not answered in the wiki you may probably want to ask it there.
		</p>
	{% end %}
	<br class="clear" />

	<h3>{{ _("Internet relay chat") }}</h3>
	<img class="floatTR" src="{{ static_url("images/icons/irc.png") }}" alt="IRC" />

	{% if lang == "de" %}
		<p>
			Für prompten Support gibt es einen IRC-Channel, wo sich andere Benutzer
			finden lassen, die Hilfestellung geben können.
		</p>
	{% else %}
		<p>
			If you need immediate help there is the IRC channel where you can meet fellow IPFire users
			that may get their hands on your configuration and check it out together.
		</p>
	{% end %}
	<p>
		<strong>{{ _("Server") }}:</strong>
		<a href="http://webchat.freenode.net/?channels=ipfire" target="_blank">irc.freenode.net</a>
		<br />
		<strong>{{ _("Channel") }}:</strong> #ipfire
	</p>
{% end block %}
