{% extends "../base-1.html" %}

{% block title %}{{ wish.title }} - {{ _("Donate") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h2>{{ wish.title }}</h2>
	</div>

	{% if lang == "de" %}
		<p>
			Bevor du mit deiner Spende fortfährst, lies bitte die
			<a href="/terms">{{ _("Terms & Conditions") }}</a>.
			Solltest du mit diesen nicht einverstanden sein,
			fahre nicht weiter fort.
		</p>
		<p>
			Wähle dann deine präferierte Bezahlmethode aus, um deine Spende zu tätigen.
		</p>
	{% else %}
		<p>
			Before you make your donation, make sure that you
			have read the <a href="/terms">{{ _("Terms & Conditions") }}</a>.
			In case you don't agree to them, please stop right here.
		</p>
		<p>
			To go on, please pick one of the methods below to make your donation.
		</p>
	{% end %}

	<hr>

	<div class="row">
		<div class="span10 offset1">
			{% module DonationBox(wish.tag) %}
		</div>
	</div>
{% end block %}
