{% extends "base.html" %}

{% block title %}{{ wish.title }} - {{ _("Wish") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ wish.title }}</h1>
	</div>

	{% module Wishlist([wish,], short=True) %}

	{% raw wish.description %}

	<hr>

	<p class="ac">
		<i class="icon-calendar"></i>
		{{ _("Launched: %s") % locale.format_date(wish.date_start, full_format=True) }}

		&bull;

		{% if wish.date_end %}
			<i class="icon-time"></i>
			{{ _("Funding ends: %s") % locale.format_date(wish.date_end, full_format=True) }}
		{% else %}
			{{ _("This funding runs until the goal is reached.") }}
		{% end %}
	</p>
{% end block %}
