<?xml version="1.0" encoding="UTF-8"?>
<Site>
	<Item uri="index">
		<Name lang="en">Home</Name>
		<Name lang="de">Start</Name>
	</Item>
	<Item uri="download">
		<Name>Downloads</Name>
	</Item>
	<Item uri="http://wiki.ipfire.org/">
		<Name lang="en">Docs</Name>
		<Name lang="de">Wiki</Name>
	</Item>
	<Item uri="http://forum.ipfire.org/">
		<Name>Forum</Name>
	</Item>
	<Item uri="development">
		<Name lang="en">Development</Name>
		<Name lang="de">Entwicklung</Name>
	</Item>
</Site>
