{% extends "../../../base-feature.html" %}
		
{% block title %}{{ _("Update accelerator") }}{% end block %}

{% block bodyA %}
	<div class="page-header">
		<h1>{{ _("Web proxy: Update accelerator") }}</h1>
	</div>

	<div class="row">
		<div class="span9">
			{% if lang == "de" %}
				<p>
					Der Update-Accelerator ist ein System, das Updates für z.B. Betriebssysteme massiv beschleunigen
					kann. Dazu werden alle heruntergeladenen Updates zwischengespeichert und bei einem weiteren Download
					aus dem lokalen Cache ausgeliefert.
				</p>
				<p>
					Bei Service Packs für Microsoft Windows, die oft einige hundert Megabytes haben, lohnt sich dieses
					Speichern massiv, aber auch Virenscanner und andere Produkte profitieren und machen ein Update von
					allen Workstations in der Firma zu einer schnell erledigten Aufgabe.
				</p>
			{% else %}
				<p>
					The Update Accelerator is a feature that can greatly accelerate deploying updates for operating systems.
					All downloaded updates are cached and if requested another time, are delivered from the cache.
				</p>
				<p>
					For example, Service Packs for Microsoft Windows (which often are several hundred megabytes) are cached for future retrieval, as well as virus scanner definition updates and other product updates which the system automatically identifies. This saves a massive amount of time when updating large amounts of computers (such as corporate networks). 
				</p>
			{% end %}
		</div>
	</div>
{% end block %}
