{% extends "../../base-feature.html" %}
		
{% block title %}{{ _("Firewall") }}{% end block %}

{% block bodyA %}
	<img src="{{ static_url("images/icons/firewall.png") }}" class="pull-right" alt="{{ _("Firewall") }}" />

	<div class="page-header">
		<h1>{{ _("Firewall") }}</h1>
	</div>

	<div class="row">
		<div class="span9">
			{% if lang == "de" %}
				<p>
					IPFire nutzt eine Stateful-Packet-Inspection-Firewall (SPI),
					welche auf das Linux Paketfilter-Framework <em>netfilter</em> aufsetzt.
				</p>
				<p>
					Während des IPFire Installationsprozesses, wird das Netzwerk in
					mehrere separate Segmente unterteilt.
					Dieses Sicherheitsschema impliziert einen perfekten Platz für
					jedes System im Netzwerk.
					Jedes Segment kann nach Bedarf zugeschaltet werden, abhängig vom
					Einsatzort und -zweck und alle Systeme in einem Segment werden
					mit der gleichen Sicherheitspolicy behandelt:
				</p>

				<table class="table table-striped table-bordered">
					<tbody>
						<tr>
							<td style="background-color: green; color: white;">
								<strong>Green</strong>
							</td>
							<td>
								Grün repräsentiert die "sichere" Zone.
								In diese Zone gelangen alle herkömmlichen
								Clients, welche meist mit dem Kabelnetzwerk
								verbunden sind. Von hier aus können die Clients
								uneingeschränkt auf alle anderen Zonen zugreifen.
							</td>
						</tr>
						<tr>
							<td style="background-color: red; color: white;">
								<strong>Red</strong>
							</td>
							<td>
								Rot impliziert "Gefahr" - also die Verbindung zum
								Internet.
								Nichts von hier aus darf die Firewall passieren,
								außer dies ist explizit vom Administrator erlaubt.
							</td>
						</tr>
						<tr>
							<td style="background-color: darkblue; color: white;">
								<strong>Blue</strong>
							</td>
							<td>
								Blau repräsentiert das drahtlose Segment des
								Netzwerks (aufgrund der Farbe des Himmels).
								Da Wireless-Clients von Natur aus ein größeres
								Gefahrenpotential sind, muss für jedes System
								in diesem Teil der Zugang zum Internet gesondert
								erlaubt werden.
							</td>
						</tr>
						<tr>
							<td style="background-color: orange; color: white;">
								<strong>Orange</strong>
							</td>
							<td>
								Das orangene Netzwerk wird auch als demilitarisierte
								Zone (DMZ) bezeichnet.
								Alle Server, die aus dem Internet erreichbar sind
								gehören in dieses Netz um kein Sicherheitsrisiko
								für andere lokale Systeme zu sein.
							</td>
						</tr>
					</tbody>
				</table>

				<p>
					Zusätzlich zu den oben genannten Policies kann auch der ausgehende
					Netzwerkverkehr für jedes Segment geregelt werden.
					Diese Funktion gibt dem Netzwerkadministrator vollständige
					Kontrolle über das Netzwerk.
				</p>
			{% else %}
				<p>
					IPFire employs a Stateful Packet Inspection (SPI) firewall,
					which is built on top of netfilter (the Linux packet filtering framework).
				</p>
				<p>
					During the installation of IPFire, the network is configured into different,
					separate segments.
					This segmented security scheme means that there is a perfect place for each
					machine in the network.
					These different segments may be enabled separately, depending on your requirements.
					Each segment represents a group of computers who share a common security level:
				</p>

				<table class="table table-striped table-bordered">
					<tbody>
						<tr>
							<td style="background-color: green; color: white;">
								<strong>Green</strong>
							</td>
							<td>
								Green represents a "safe" area.
								This is where all regular clients will reside.
								It is usually comprised of a wired, local network.
								Clients on Green can access all other network
								segments without restriction.
							</td>
						</tr>
						<tr>
							<td style="background-color: red; color: white;">
								<strong>Red</strong>
							</td>
							<td>
								Red indicates "danger" or the connection to the Internet.
								Nothing from Red is permitted to pass through the
								firewall unless specifically configured by the
								administrator.
							</td>
						</tr>
						<tr>
							<td style="background-color: darkblue; color: white;">
								<strong>Blue</strong>
							</td>
							<td>
								Blue represents the "wireless" part of the local
								network (chosen because it's the color of the sky).
								Since the wireless network has the potential for abuse,
								it is uniquely identified and specific rules govern
								clients on it.
								Clients on this network segment must be explicitly
								allowed before they may access the network.
							</td>
						</tr>
						<tr>
							<td style="background-color: orange; color: white;">
								<strong>Orange</strong>
							</td>
							<td>
								Orange is referred to as the "demilitarized zone" (DMZ).
								Any servers which are publicly accessible are separated
								from the rest of the network here to limit security
								breaches.
							</td>
						</tr>
					</tbody>
				</table>

				<p>
					Additionally, the firewall can be used to control outbound Internet
					access from any segment.
					This feature gives the network administrator complete control
					over how their network is configured and secured. 
				</p>
			{% end %}
		</div>
	</div>

	<hr>

	<div class="well">
		<h3>{{ _("Further reading") }}</h3>
		<ul>
			<li>
				<a href="http://wiki.ipfire.org/{{ lang }}/configuration/firewall/outgoingfirewall">{{ _("Outgoing firewall configuration") }}</a>
			</li>
		</ul>
	</div>

	<ul class="thumbnails">
		<li class="span3">
			<a class="thumbnail" href="{{ static_url("images/screenshots/en/firewall/edit-portfw-rule-1.png") }}">
				<img src="{{ static_url("images/screenshots/en/firewall/edit-portfw-rule-1_thumb.png") }}" alt="{{ _("Screenshot") }}">
			</a>
		</li>
		<li class="span3">
			<a class="thumbnail" href="{{ static_url("images/screenshots/en/firewall/dmz-holes-1.png") }}">
				<img src="{{ static_url("images/screenshots/en/firewall/dmz-holes-1_thumb.png") }}" alt="{{ _("Screenshot") }}">
			</a>
		</li>
		<li class="span3">
			<a class="thumbnail" href="{{ static_url("images/screenshots/en/firewall/connections-1.png") }}">
				<img src="{{ static_url("images/screenshots/en/firewall/connections-1_thumb.png") }}" alt="{{ _("Screenshot") }}">
			</a>
		</li>
	</ul>
{% end block %}
