{% extends "../../base-feature.html" %}
		
{% block title %}{{ _("Hardware") }}{% end block %}

{% block bodyA %}
	<img src="{{ static_url("images/icons/hardware.png") }}" class="pull-right" alt="{{ _("Hardware") }}" />
	<div class="page-header">
		<h1>{{ _("Hardware") }}</h1>
	</div>

	<div class="row">
		<div class="span9">
			{% if lang == "de" %}
				<p>
					Da IPFire auf einer aktuellen Version des Linux Kernels basiert, ist es möglich
					eine Breite Palette an neuer Hardware, wie 10-Gigabit-Netzwerkkarten und
					Wireless-Hardware, ohne zusätzlichen Aufwand zu betreiben.
					Den Entwicklern ist es ein Anliegen, IPFire auf einer möglichst breiten Palette von
					Hardware lauffähig zu machen. Dadurch lässt sich IPFire auf alter, günster Hardware
					genauso hervoragend verwenden, wie auf High-Performance-Systemen.
				</p>
				<p>
					Dabei belaufen sich die Mindestanforderungen bei einem Pentium I (i568), 128MB RAM
					und 2 GB Festplattenspeicher.
				</p>
				<p>
					Einige Erweiterungen haben zuätzliche Anforderungen an die Hardware um korrekt
					funktionieren zu können. Ein System welches alle Anforderungen erfüllt, ist in der
					Lage hunderte Clients zur selben Zeit zu bedienen.
				</p>
				<h3>Heads up: Zusätzliche Architekturen in Entwicklung</h3>
				<p>
					Das IPFire Projekt ist auch interessiert Ressorcen schonende Systeme zu unterstützen.
					In diesem Zusammenhang, ist die ARM Architektur erwähnenswert, welche äußerst wenig Strom
					benötigt und ein großes Zukunftspotential aufweist.
				</p>
				<!-- <p>
					Mehr zu diesem Thema kann auf der <a href="/features/ports/arm">ARM Projekt Seite</a> gefunden 
					werden.
				</p> -->
			{% else %}
				<p>
					Since IPFire is based on a recent version of the Linux kernel, it supports most
					of the latest hardware such as 10Gbit network cards and a variety of wireless
					hardware out of the box.
					The IPFire developers are very concerned with the ability to run IPFire as many
					system variations as possible.
					This helps IPFire to run on older or cheap hardware, as well as high-performance systems.
				</p>
				<p>
					Minimum system requirements are an Intel Pentium I (i586),
					128MB RAM and 2GB hard drive space.
				</p>
				<p>
					Some add-ons have extra requirements to perform smoothly.
					On a system that fits the hardware requirements, IPFire
					is able to serve hundreds of clients simultaneously.
				</p>

				<h3>Heads up: More architectures in development!</h3>
				<p>
					The IPFire project is always interested in creating systems
					which save the environment. The ARM architecture consumes
					much less power and certainly has a lot of potentional.
				</p>
				<!-- <p>
					More about this may be found on the
					<a href="/features/ports/arm">ARM project page</a>.
				</p> -->
			{% end %}
		</div>
	</div>

	<hr>

	<div class="well">
		<h3>{{ _("Further reading") }}</h3>
		<ul>
			<li>
				<a href="http://fireinfo.ipfire.org/">{{ _("Fireinfo") }}</a>
			</li>
			<li>
				<a href="http://wiki.ipfire.org/{{ lang }}/hardware/start">
					{{ _("Hardware section on the wiki") }}
				</a>
			</li>
			<li>
				<a href="http://wiki.ipfire.org/{{ lang }}/hardware/networking">
					{{ _("Hardware compatibility list") }} ({{ _("networking") }})
				</a>
			</li>
		</ul>
	</div>

	<ul class="thumbnails">
		<li class="span3">
			<a class="thumbnail" href="{{ static_url("images/screenshots/en/hardware/hwtemp-1.png") }}">
				<img src="{{ static_url("images/screenshots/en/hardware/hwtemp-1_thumb.png") }}" alt="{{ _("Screenshot") }}">
			</a>
		</li>
	</ul>
{% end block %}
