{% extends "../../base-feature.html" %}

{% block title %}{{ _("Security") }}{% end block %}

{% block bodyA %}
	<img src="{{ static_url("images/icons/security.png") }}" class="pull-right" alt="{{ _("Security") }}" />

	<div class="page-header">
		<h1>{{ _("Security") }}</h1>
	</div>

	<div class="row">
		<div class="span9">
			{% if lang == "de" %}
				<p>
					Das Hauptaugenmerk von IPFire liegt bei Sicherheit.
					Gerade bei einem solch umfangreichen Thema gibt es nicht nur einen einzigen
					Weg, um ein maximales Maß an Sicherheit zu erlangen. Mindestens genauso
					wichtig ist es für den Netzwerkadministrator seine Bedürfnisse zu verstehen
					und entsprechend zu handeln. IPFire stellt für diesen Zweck eine Basis bereit,
					die einzelne Netzwerksegmente nach ihren Sicherheitslevels unterteilt und erlaubt diese
					anschließend nach eigenen Erfordernissen anzupassen
					(mehr dazu unter <a href="/features/firewall">Firewall</a>).
				</p>
				<p>
					Eine ebenso hohe Priorität genießt die Sicherheit der modularen Komponenten.
					Aktualisierungen werden digital signiert, verschlüsselt
					und können automatisch über das <a href="/features/pakfire">Pakfire
					Paketmanagement-System</a> installiert werden.
					Typischerweise ist IPFire direkt mit dem Internet verbunden und macht es
					somit zu einem Ziel für Hacker und andere Gefahren.
					Das Paketmanagement-System unterstützt den Administrator darin,
					sicher zu sein, dass alle wichtigen Lücken gestopft und Fehler
					in allen eingesetzten Komponenten beseitigt sind.
				</p>
			{% else %}
				<p>
					The primary objective of IPFire is security.
					As there is of course no one, single way to achieve network security, it is important
					for a network administrator to understand their environment and what the term
					<em>security</em> means in the context of their own network.
					IPFire forms the base of a secure network.
					It has the power to segment networks based on their respective security levels
					and makes it easy to create custom policies that manage each segment
					(see the Firewall page for more information).
				</p>
				<p>
					Security of the modular components is a top priority.
					Updates are digitally signed and encrypted, as well as can be automatically installed
					by Pakfire (<a href="/features/updates">the IPFire package management system</a>).
					Since IPFire is typically directly connected to the Internet, it is going to be a
					primary target for hackers and other threats.
					The simple Pakfire package manager helps administrators feel confident that
					they are running the latest security updates and bug fixes for all of the
					components they utilize.
				</p>
			{% end %}
		</div>
	</div>
{% end block %}
