<div class="accordion" id="accordionDonate">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionDonate" href="#collapseOne">
				{{ _("Donate with PayPal or Credit Card") }}
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				{% if lang == "de" %}
					<p>
						PayPal ist unser bevorzugter und gleichzeig einfachster Weg um zu spenden.
						Dazu einfach auf den Button klicken und den gewünschten Betrag eingeben.
					</p>

					<div class="ac">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="Z44GQ52ZHKVFW">
							<input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
							<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				{% else %}
					<p>
						PayPal is our preferred way to make donations.
						Simply click on the donate button and type in the
						amount of money you would like to donate.
					</p>

					<div class="ac">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="HHBTSN9QRWPAY">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				{% end %}
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionDonate" href="#collapseTwo">
				{{ _("Bank Transfer") }}
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				{% if lang == "de" %}
					<p>
						Ebenso ist eine Spende auf unser Bankkonto möglich.
					</p>

					<div class="row-fluid">
						<div class="span6">
							<h4>Euro-Überweisung/SEPA</h4>

							<blockquote>
								IBAN: DE86 4265 0150 1020 0768 89<br>
								BIC-/SWIFT-Code: WELADED1REK
							</blockquote>
						</div>

						<div class="span6">
							<h4>Überweisung innerhalb Deutschlands</h4>
							<blockquote>
								Kontoinhaber: Michael Tremer<br>
								Kontonummer: 1020076889<br>
								Bankleitzahl: 426 501 50
							</blockquote>
						</div>
					</div>
				{% else %}
					<p>
						It is also possible to transfer donations into
						our bank account.
					</p>

					<div class="row-fluid">
						<div class="span6">
							<h4>euro bank transfer</h4>
							<blockquote>
								IBAN: DE86 4265 0150 1020 0768 89<br>
								BIC-/SWIFT-Code: WELADED1REK
							</blockquote>
						</div>

						<div class="span6">
							<h4>bank transfer within Germany</h4>
							<blockquote>
								Bank account owner: Michael Tremer<br>
								Bank account number: 1020076889<br>
								Bank code: 426 501 50
							</blockquote>
						</div>
					</div>
				{% end %}
			</div>
		</div>
	</div>
</div>
