<a class="MegaMenuLink{% if not item.args.has_key("items") %}Off {% end %}" href="{{ item.link }}">{{ item.name }}</a>
{% if item.args.has_key("items") %}
<div class="MegaMenuContent">
	<table class="MegaMenuTable">
	    <tr>
	    	{% for item2 in item.items %}
	        <th>
	            <div class="MegaMenuHead">
	                {{ item.uri }}
	            </div>
	        </th>
	    	{% end %}
	        <th>
	            <div class="MegaMenuHead">
	                Second Heading
	            </div>
	        </th>
	        <th>
	            <div class="MegaMenuHead">
	                Third Heading
	            </div>
	        </th>
	    </tr>
	    <tr>
	        <td>
	            <ul class="MegaMenuLists">
	                <li>
	                    <a href="#">First Link</a>
	                </li>
	                <li>
	                    <a href="#">Second Link</a>
	                </li>
	                <li>
	                    <a href="#">Third Link</a>
	                </li>
	            </ul>
	        </td>
	        <td>
	            <ul class="MegaMenuLists">
	                <li>
	                    <a href="#">Fourth Link</a>
	                </li>
	                <li>
	                    <a href="#">Fifth Link</a>
	                </li>
	                <li>
	                    <a href="#">Sixth Link</a>
	                </li>
	            </ul>
	        </td>
	        <td class="LastCell">
	            <ul class="MegaMenuLists">
	                <li>
	                    <a href="#">Seventh Link</a>
	                </li>
	                <li>
	                    <a href="#">Seventh Link</a>
	                </li>
	            </ul>
	        </td>
	    </tr>
	</table>
</div>

{% end %}
