<div class="row">
	<div class="span9">
		{% if show_avatar %}
			<a class="pull-right" href="/user/{{ entry.author.uid }}">
				<img class="img-rounded" src="{{ entry.author.gravatar_icon(96) }}" alt="{{ entry.author.cn }}" />
			</a>
		{% end %}

		<h2>
			<a href="/post/{{ entry.slug }}">{{ entry.title }}</a>
		</h2>

		{{ entry.text }}

		<p class="pull-right" style="clear: both;">
			{{ _("Posted by") }} <a href="/user/{{ entry.author.uid }}">{{ entry.author.cn }}</a>
			{{ _("on") }} {{ locale.format_date(entry.published, shorter=True) }}
		</p>
	</div>
</div>

<div class="row">
	<div class="span9">
		<hr>
	</div>
</div>
