<ul class="navbar-nav nav">
	{% if hostname in ("www.ipfire.org:8001", "www.ipfire.org", "dev.ipfire.org") %}
		<li>
			<a href="/download">{{ _("Download") }}</a>
		</li>
		<li>
			<a href="/about">{{ _("About IPFire") }}</a>
		</li>
		<li>
			<a href="/getinvolved">{{ _("Get Involved") }}</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{ _("Support") }} <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="http://www.lightningwirelabs.com" target="_blank">
						<i class="glyphicon glyphicon-star-empty"></i>
						{{ _("Commercial support") }}
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="http://wiki.ipfire.org/">
						<i class="glyphicon glyphicon-align-justify"></i>
						{{ _("Wiki") }}
					</a>
				</li>
				<li>
					<a href="http://forum.ipfire.org/">
						<i class="glyphicon glyphicon-question-sign"></i>
						{{ _("Forum") }}
					</a>
				</li>
				<li>
					<a href="/chat">
						<i class="glyphicon glyphicon-comment"></i>
						{{ _("Chat") }}
					</a>
				</li>

				<li class="divider"></li>
				<li>
					<a href="/donate">
						<i class="glyphicon glyphicon-arrow-right"></i>
						{{ _("Donate") }}
					</a>
				</li>
				<li>
					<a href="http://wishlist.ipfire.org/">
						<i class="glyphicon glyphicon-gift"></i>
						{{ _("Wishlist") }}
					</a>
				</li>
			</ul>
		</li>

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{ _("More") }} <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li class="dropdown-header">
					{{ _("Development") }}
				</li>
				<li>
					<a href="/development">
						<i class="glyphicon glyphicon-info-sign"></i>
						{{ _("Overview") }}
					</a>
				</li>
				<li>
					<a href="https://pakfire.ipfire.org/">
						<i class="glyphicon glyphicon-cog"></i>
						{{ _("Pakfire Build Service") }}
					</a>
				</li>
				<li>
					<a href="https://bugzilla.ipfire.org/">
						<i class="glyphicon glyphicon-th-list"></i>
						{{ _("Bugtracker") }}
					</a>
				</li>

				<li class="dropdown-header">
					 {{ _("Miscellaneous") }}
				</li>
				<li>
					<a href="http://planet.ipfire.org/">
						<i class="glyphicon glyphicon-globe"></i>
						{{ _("Planet") }}
					</a>
				</li>
				<li>
					<a href="http://fireinfo.ipfire.org/">
						<i class="glyphicon glyphicon-signal"></i>
						{{ _("Fireinfo") }}
					</a>
				</li>
				<li>
					<a href="http://lists.ipfire.org/">
						<i class="glyphicon glyphicon-envelope"></i>
						{{ _("Mailing lists") }}
					</a>
				</li>
				<li>
					<a href="http://mirrors.ipfire.org/">
						<i class="glyphicon glyphicon-download-alt"></i>
						{{ _("Mirrors") }}
					</a>
				</li>
				<li>
					<a href="/artwork">
						<i class="glyphicon glyphicon-pencil"></i>
						{{ _("Artwork") }}
					</a>
				</li>
				<li>
					<a href="/cebit">
						<i class="glyphicon glyphicon-eye-open"></i>
						{{ _("CeBIT") }} 2010
					</a>
				</li>
				<li>
					<a href="http://tracker.ipfire.org/">
						<i class="glyphicon glyphicon-download-alt"></i>
						{{ _("Tracker") }}
					</a>
				</li>
			</ul>
		</li>

	{% elif hostname == "fireinfo.ipfire.org" %}
		<li>
			<a href="/stats">{{ _("Statistics") }}</a>
		</li>

	{% end %}
</ul>

{% if hostname in ("www.ipfire.org:8001", "www.ipfire.org", "dev.ipfire.org") %}
<ul class="nav navbar-nav navbar-right">
	<li>
	<a href="http://www.lightningwirelabs.com" target="_blank">
	<strong>{{ _("Professional support available!") }}</strong>
	</a>
	</li>
</ul>	
{% else  %}
<ul class="nav navbar-nav navbar-right">
	<li>
	<a href="http://www.ipfire.org">
		<i class="glyphicon glyphicon-home glyphicon-white"></i> &nbsp;
		www.ipfire.org
	</a>
	</li>
</ul>	
{% end %}
