<h3>
	{% if latest %}{{ _("Latest release") }}:{% end %}
	{{ escape(release.name) }}
</h3>

{% if release.files %}
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#arch_unknown" data-toggle="tab">{{ _("Choose an architecture:") }}</a>
			</li>
			{% if files["i586"] %}
				<li><a href="#arch_i586" data-toggle="tab">i586</a></li>
			{% end %}
			{% if files["arm"] %}
				<li><a href="#arch_arm" data-toggle="tab">ARM</a></li>
			{% end %}
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="arch_unknown">
				{% if lang == "de" %}
					<p>
						Bitte klicke auf den Button, um IPFire für
						i586-kompatible Computer als ISO-Installationsimage
						herunterzuladen.
						Dies ist das am häufigsten benötigte Medium.
						In der Tableiste finden sich alternative Architekturen
						und Imageformate zum Download.
					</p>
				{% else %}
					<p>
						Please click the button to download the IPFire
						ISO image for i586-compatible computers.
						This is the default image, you will most likely
						need to install IPFire.
						You may also pick your desired architecture from
						the tabs above and see a list of all image
						formats.
					</p>
				{% end %}

				<hr>

				<div class="ac">
					{% module DownloadButton(release) %}
				</div>

				{% if not release.stable %}
					<hr>

					<div class="row">
						<div class="col-lg-6 col-md-6col-lg-offset-3">
							<div class="alert alert-error">
								<strong>{{ _("Caution!") }}</strong>

								{% if lang == "de" %}
									Dieses Release ist nicht als <em>stabile</em> Version
									von IPFire freigegeben und nur für Testumgebungen gedacht.
									Daher sollte dieses Release nicht in produktiven
									Umgebungen eingesetzt werden und Fehler berichtet werden.
								{% else %}
									This release is not a stable version of IPFire and
									intended for testing purposes only.
									Do not use this release in production and please
									report any bugs.
								{% end %}
							</div>
						</div>
					</div>
				{% end %}
			</div>

			{% for arch in files.keys() %}
				<div class="tab-pane" id="arch_{{ arch }}">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>{{ _("Image type") }}</th>
								<th>{{ _("Size") }}</th>
							</tr>
						</thead>
						<tbody>
							{% for file in files[arch] %}
								<tr>
									<td>
										{% if file.torrent_hash %}
											<p class="pull-right">
												<a href="{{ file.magnet_link }}">
													<i class="glyphicon glyphicon-magnet"></i>
												</a>
												<a href="http://tracker.ipfire.org/{{ file.torrent_hash }}/download">
													<i class="glyphicon glyphicon-download-alt"></i>
												</a>
											</p>
										{% end %}
										<a class="download-splash" href="{{ file.url }}">{{ _(file.desc) }}</a>
										<br>{{ _(file.rem) }}

										{% if file.sha1 %}
											<br><br><em>{{ _("SHA1 checksum") }}: {{ file.sha1 }}</em>
										{% end %}
									</td>
									<td>
										{{ format_size(file.size) }}
									</td>
								</tr>
							{% end %}
						</tbody>							
					</table>

					<p class="pull-right">
						<strong>{{ _("Legend:") }}</strong>
						<i class="glyphicon glyphicon-magnet"></i> {{ _("Magnet link") }},
						<i class="glyphicon glyphicon-download-alt"></i> {{ _("Torrent download") }}
					</p>
				</div>
			{% end %}
		</div>
	</div>
{% else %}
	<div class="alert alert-warning">
		{{ _("There are no downloads available for this release.") }}
	</div>
{% end %}
