<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ hostname }} - {% block title %}{{ _("No title given") }}{% end block %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="IPFire.org - IPFire Development Team" />
		<meta name="verify-v1" content="2LEf3W8naILGWVy2dhedSVEHPXTpp2xFNVsHXZMH1JI=" />

		<!-- Your locale is {{ locale.code }} -->

		<meta name="keywords" content="Linux, Firewall, IPFire, Security, IPCop, Open Source, Free, ARM, VPN, Proxy, IDS, IPS" />
		<meta name="description" content="{{ _("IPFire is a free firewall distribution based on Linux.") }}" />

		<!-- styling stuff -->
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.min.css") }}" />
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}" />
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap-responsive.min.css") }}" />
		<link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% if rss_url %}
			<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ rss_url }}" />
		{% end %}
	</head>

	<body data-spy="scroll" data-target=".sidebar">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">{{ hostname }}</a>
					<div class="nav-collapse">
						{% block menu %}
							{% module Menu() %}
						{% end block %}
					</div>
				</div>
			</div>
		</div>

		{% block container %}
			{% block header %}{% end block %}

			<div class="container container-body">
				{% block body %}EMPTY BODY{% end block %}
			</div>
		{% end block %}

		{% block footer %}
			<footer class="footer">
				<div class="container">
					<div class="pull-right">
						<a href="https://www.facebook.com/IPFire.org"><img src="{{ static_url("images/icons/social/facebook.png") }}" alt="Facebook"></a>
						<a href="https://twitter.com/ipfire"><img src="{{ static_url("images/icons/social/twitter.png") }}" alt="Twitter"></a>
						<a href="/news.rss"><img src="{{ static_url("images/icons/social/rss.png") }}" alt="RSS"></a>
					</div>

					<p>
						&copy; {{ year }} - {{ _("IPFire is free software") }}
					</p>

					<ul class="footer-links">
						{% if hostname in ("www.ipfire.org", "dev.ipfire.org") %}
							<li>
								<a href="/press">{{ _("Press") }}</a>
							</li>
							<li class="muted">&middot;</li>
						{% end %}
						<a href="http://www.ipfire.org/imprint">{{ _("Imprint") }}</a>

						{% if hostname == "wishlist.ipfire.org" %}
							<li class="muted">&middot;</li>
							<li>
								<a href="/terms">{{ _("Terms & Conditions") }}</a>
							</li>
						{% end %}

						{% if not hostname == "planet.ipfire.org" %}
							{% for l in ("en", "de") %}
								{% if not l == lang %}
									<li class="muted">&middot;</li>
									<li>
										<a href="?locale={{ l }}">
											<img src="{{ static_url("images/flags/%s.png" % l) }}" alt="{{ l }}">
										</a>
									</li>
								{% end %}
							{% end %}
						{% end %}
					</ul>
				</div>
			</footer>
		{% end block %}

		<script src="{{ static_url("js/jquery.js") }}"></script>
		<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
		<script src="{{ static_url("js/site.js") }}"></script>
	</body>
</html>
