{% extends "downloads-older.html" %}

{% block title %}{{ _("Development Downloads") }}{% end block %}

{% block information %}
	<h3>{{ _("Development Downloads") }}</h3>

	{% if lang == "de" %}
		<p>
			In regelmäßigen Abständen wird aus dem aktuellen Quellcode der
			Entwicklungsversion ein installationsfähiges Image als
			technologische Vorschau erstellt.<br />
			Diese Versionen dienen dazu einen stabilen Stand einer größeren
			Menge an Testern zukommen zu lassen und sind <strong>nicht</strong>
			für den Produktiveinsatz bestimmt.
		</p>
    {% else %}
    	<p>
    		The developers do create a snapshort version from the current 
			development sources to get this distributed to a higher number
			of testers.<br />
			These versions are <strong>not</strong> intended to be used in a
			productive environment.
		</p>
	{% end %}
{% end block %}
