{% extends "base-1.html" %}

{% block title %}{{ _("Get IPFire") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ _("Get IPFire") }}</h1>
	</div>

	<div class="row">
		<div class="span6 offset3">
			<ul class="thumbnails">
				<li class="span6">
					<div class="thumbnail download-box ac">
						<h4>
							{{ release.name }}
							<br>
							<small>{{ locale.format_date(release.date, shorter=True) }}</small>
						</h4>

						<hr>

						{{ modules.DownloadButton(release) }}
						<br>

						<a href="http://downloads.ipfire.org/latest">
							<small>{{ _("More download options") }}</small>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span7">
			{% if lang == "de" %}
				<p class="lead">
					Lade IPFire jetzt <a href="/features/itsfree">kostenlos</a> herunter!
				</p>
				<p>
					Wenn du IPFire das erste mal herunterlädst, dann zögere nicht
					es endlich auszuprobieren. Es dauert nur 15 Minuten, bis
					diese freie Firewall-Distribution auch dein Netzwerk schützt.
				</p>
			{% else %}
				<p class="lead">
					Download IPFire now and learn why IPFire is
					<a href="/features/itsfree">free</a>!
				</p>
				<p>
					If you are downloading IPFire for the first time, don't be afraid.
					The installation process takes only about 15 minutes until you're
					running a free firewall distribution that's actively protecting your network.
				</p>
			{% end %}
		</div>
	
		<div class="span5">
			<div class="well">
				<h4>{{ _("Get yourself involved") }}</h4>
				{% if lang == "de" %}
					<p>
						Wir wünschen uns von jedem, der IPFire herunterlädt sich
						selbst in das Projekt mit einzubringen.
					</p>
					<p>
						Tritt der <a href="/getinvolved">Community</a> bei,
						unterstütze die Entwicklung oder tätige eine
						<a href="/donate">Spende</a>.
					</p>
				{% else %}
					<p>
						We ask everyone who downloads IPFire to contribute
						themselves to the project.
					</p>
					<p>
						Join the <a href="/getinvolved">community</a>, take
						part in the development or <a href="/donate">donate</a>.
					</p>
				{% end %}
			</div>
		</div>
	</div>
{% end block %}
