{% extends "base-1.html" %}

{% block title %}{{ _("Error") }} {{ code }}{% end block %}

{% block body %}
	<img class="pull-right" src="{{ static_url("images/error/%s.png" % code) }}" alt="{{ _("Error") }} {{ code }}" />
	<div class="page-header">
		<h1>{{ code }} - {{ message }}</h1>
	</div>

	<div class="row">
		<div class="span8 offset2">
			{% if lang == "de" %}
				<p>
					Leider ist ein unerwarteter Fehler beim Laden der Seite aufgetreten.
				</p>
				<p>
					Sollte dies das erstmalige Auftreten des Fehlers sein, so bitten wir
					einige Zeit abzuwarten.	Sollte der Fehler jedoch an dieser Stelle
					regelmäßig auftreten, so würden sich die Webmaster über eine kleine
					Benachrichtigung freuen.
				</p>
			{% else %}
				<p>
					Unfortunately, an unexpected error has occurred during page load.
				</p>
				<p>
					If this is the first occurrence of the error, please wait a little bit
					and try again. If the error occurres anyway the webmaster would be happy
					to get a notification about this.
				</p>
			{% end %}
		</div>
	</div>

	<hr>
	{% block explanation %}{% end block %}

	{% if exception %}
		<div class="row">
			<div class="span8 offset2">
				<pre>{{ exception }}</pre>
			</div>
		</div>
	{% end %}
{% end block %}
