{% extends "base-1.html" %}

{% block title %}{{ _("Home") }}{% end block %}

{% block header %}
	<div class="jumbotron masthead">
		<div class="container">
			<div class="row">
				<div class="span4">
					<img src="{{ static_url("images/tux/ipfire_tux_512x512.png") }}" alt="IPFire Logo" />
				</div>

				<div class="span8">
					<h1>IPFire</h1>
					<p class="lead">An Open Source Firewall Distribution</p>

					<p>
						<a class="btn btn-primary btn-large" href="/download">{{ _("Download IPFire") }}</a>
					</p>

					<ul class="masthead-links">
						{% if latest_release %}
							<li>
								{{ _("Latest release") }}:<br>
								{{ latest_release.name }} &dash;
								{{ locale.format_date(latest_release.date, relative=True, shorter=True) }}
							</li>
						{% end %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% end block %}

{% block body %}
	<br>

	<div class="row">
		<div class="span6 objectives">
			{% if lang == "de" %}
				<p>
					<strong>IPFire</strong> ist eine gehärtete Linux-Appliance-Distribution
					mit primärem Einsatzzweck als Firewall.
				</p>
				<p>
					Mit IPFire kommt eine unternehmensfähige Absicherung des Netzwerks
					für Jedermann - vom Heimnetzwerk bis zum großen Unternehmen,
					Schulnetzwerken und Behörden.
				</p>
				<p>
					Besonderer Fokus liegt auf Sicherheit, Stabilität und einfache Benutzbarkeit.
					Das Nachinstallieren von zusätzlichen Funktionen geht mit nur einem Klick.
				</p>
			{% else %}
				<p>
					<strong>IPFire</strong> is a hardened Linux appliance distribution
					designed for use as a firewall.
				</p>
				<p>
					It offers corporate-level network protection for anyone who needs it,
					from home users all the way up to large corporations, school networks
					and authorities.
				</p>
				<p>
					IPFire focusses on security, stability and ease of use.
					A variety of add-ons can be installed with a single click, to
					add more features to the base system.
				</p>
			{% end %}

			<hr>

			<img class="icon pull-left" src="{{ static_url("images/icons/security.png") }}" alt="{{ _("Security") }}" />
			<h4>{{ _("Security") }}</h4>

			{% if lang == "de" %}
				<p>
					Das wichtigste: Sicherheitsupdates werden
					regelmäßig und zügig bereitgestellt.
				</p>
			{% else %}
				<p>
					As the most important issue: Security updates
					are deployed regularly and promptly.
				</p>
			{% end %}

			<hr>

			<img class="icon pull-left" src="{{ static_url("images/icons/flexibility.png") }}" alt="{{ _("Flexibility") }}" />
			<h4>{{ _("Flexibility") }}</h4>

			{% if lang == "de" %}
				<p>
					IPFire ist ein schlankes System, welches leicht durch
					zusätzliche Funktionen erweitert werden kann.
				</p>
			{% else %}
				<p>
					IPFire is a very small system and can be easily
					customized with additional functions.
				</p>
			{% end %}

			<hr>

			<img class="icon pull-left" src="{{ static_url("images/icons/community.png") }}" alt="{{ _("Community") }}" />
			<h4>{{ _("Open Source") }}</h4>

			{% if lang == "de" %}
				<p>
					IPFire ist freie Software, welche von einer offenen
					Community tagtäglich verbessert wird.
				</p>
			{% else %}
				<p>
					IPFire is free software and developed by an open community,
					that improves it every single day.
				</p>
			{% end %}

			<hr>

			<p class="ac">
				<a href="/features">{{ _("Read more") }} &raquo;</a>
			</p>

		</div>

		<div class="span6">
			<div class="well">
				<h4>
					<a href="/news">{{ _("What's new?") }}</a>
					<a class="pull-right" href="http://www.ipfire.org/news.rss"><small>[RSS]</small></a>
				</h4>

				<table class="news-entries">
					{% for item in latest_news %}
						<tr>
							<td class="date">
								{{ locale.format_date(item.published, relative=True, shorter=True) }} &dash;
							</td>
							<td class="link">
								<a href="/news/{{ item.slug }}">{{ item.title }}</a>
							</td>
						</tr>
					{% end %}
				</table>

				<hr>

				<h4>
					<a href="http://planet.ipfire.org">{{ _("IPFire Planet") }}</a>
					<a class="pull-right" href="http://planet.ipfire.org/rss"><small>[RSS]</small></a>
				</h4>

				<table class="news-entries">
					{% for item in planet_posts %}
						<tr>
							<td class="date">
								{{ locale.format_date(item.published, relative=True, shorter=True) }} &dash;
							</td>
							<td class="link">
								<a href="http://planet.ipfire.org/post/{{ item.slug }}">{{ item.title }}</a>
							</td>
						</tr>
					{% end %}
				</table>

				<hr>

				{% if wishlist_items %}
					<h4>
						<a href="http://wishlist.ipfire.org">{{ _("IPFire Wishlist") }}</a>
						<small>{{ _("The IPFire Crowdfunding Platform") }}</small>
					</h4>

					<table class="table-wishlist-widget">
						{% for item in wishlist_items %}
							<tr>
								<td>
									{% if item.is_new() %}
										<span class="label label-success pull-right">{{ _("NEW") }}</span>
									{% elif item.remaining_days <= 10 %}
										<span class="pull-right">
											{{ _("one day left", "%(num)s days left", item.remaining_days) % { "num" : item.remaining_days } }}
										</span>
									{% else %}
										<span class="pull-right">
											{{ _("%d%% funded") % item.percentage }}
										</span>
									{% end %}

									<a href="http://wishlist.ipfire.org/wish/{{ item.slug }}" target="_blank">{{ item.title }}</a>

									<br class="separator-small">

									<div class="progress progress-small">
										<div class="bar {{ item.progressbar_colour }}" style="width: {{ "%.2f%%" % item.percentage_bar }};"></div>
									</div>
								</td>
							</tr>
						{% end %}
					</table>

					<hr>
				{% end %}

				<div class="row-fluid">
					<div class="span10">
						<a href="/donate"><strong>{{ _("Please support us with your donation!") }}</strong></a>
					</div>

					<div class="span2">
						<div class="pull-right">
							<a href="https://www.facebook.com/IPFire.org"><img src="{{ static_url("images/icons/social/facebook.png") }}" alt="Facebook"></a>
							<a href="https://twitter.com/ipfire"><img src="{{ static_url("images/icons/social/twitter.png") }}" alt="Twitter"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br class="separator">

	<div class="row">
		<div class="span8 offset2">
			<div class="well well-white">
				<h4>
					{{ _("IPFire Hardware Appliances & Consulting") }} <small>{{ _("by Lightning Wire Labs") }}</small>
				</h4>

				<div class="row-fluid">
					<div class="span6">
						{% if lang == "de" %}
							<p>
								Lightning Wire Labs bietet mit IPFire vorinstallierte Hardware-Appliances an.
								Dazu bieten sie professionellen Service &amp; Support durch qualifizierte Consultants.
							</p>
						{% else %}
							<p>
								Lightning Wire Labs offers hardware appliances that come pre-installed
								with the latest version of IPFire.
								They also provide professional services &amp; support through their certified consultants.
							</p>
						{% end %}
					</div>

					<div class="span6 ac">
						<a href="http://www.lightningwirelabs.com/products/ipfire/appliances" target="_blank">
							<img src="{{ static_url("images/LWL/appliance-eco.jpg") }}" alt="Appliance Eco">
						</a>
					</div>
				</div>

				<div class="ac">
					<a href="http://www.lightningwirelabs.com/products/ipfire/appliances" target="_blank">
						<img src="{{ static_url("images/LWL/appliance-pro.jpg") }}" alt="Appliance Professional">
					</a>
				</div>

				<hr>

				<p class="ac">
					<a href="http://www.lightningwirelabs.com/" target="_blank">www.lightningwirelabs.com</a>
				</p>
			</div>
		</div>
	</div>
{% end block %}
