{% extends "base-1.html" %}

{% block title %}{{ _("News") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ _("What is new on the IPFire project?") }}</h1>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6">
			{% if lang == "de" %}
				<p>
					Auf diesen Seiten findest du alle Ankündigungen,
					die je veröffentlicht wurden.
				</p>
				<p>
					Nutze die Navigationsleiste am unteren Ende,
					um zu einem bestimmten Jahr zu springen.
				</p>
			{% else %}
				<p>
					On these pages, you will find all the news announcements
					that have been released.
				</p>
				<p>
					Use the navigation bar on the bottom to jump to
					a certain year.
				</p>
			{% end %}
		</div>

		<div class="col-lg-3 col-md-3">
			<h4>{{ _("Stay up to date") }}</h4>

			{% if lang == "de" %}
				<p>
					Du kannst dir alle Ankündigungen direkt in
					dein Emailpostfach senden lassen.
					Abboniere dazu einfach die 
					<a href="http://lists.ipfire.org/mailman/listinfo/ipfire-announce">ipfire-announce</a>
					Mailingliste.
				</p>
				<p>
					Ebenso gibt es einen <a href="/news.rss">RSS-Feed</a>.
				</p>
			{% else %}
				<p>
					You can get the latest IPFire news directly to
					your mailbox by subscribing to the
					<a href="http://lists.ipfire.org/mailman/listinfo/ipfire-announce">ipfire-announce</a>
					mailing list.
				</p>
				<p>
					There is also an <a href="/news.rss">RSS feed</a> available.
				</p>
			{% end %}
		</div>

		<div class="col-lg-3 col-md-3">
			<h4>{{ _("IPFire Planet") }}</h4>

			{% if lang == "de" %}
				<p>
					Der <em>IPFire Planet</em> ist ein Blog der Entwickler.
				</p>
				<p>
					Dort schreiben sie über interessante Dinge rund um das Projekt.
				</p>
			{% else %}
				<p>
					The <em>IPFire planet</em> is the blog of the IPFire developers.
				</p>
				<p>
					They write about intesting stuff all around the project.
				</p>
			{% end %}
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-lg-offset-3">
			<h3>{{ _("Latest news") }}</h3>
			{% module NewsTable(news) %}
		</div>
	</div>

	<hr>

	{% module NewsYearNavigation() %}
{% end block %}
