{% extends "base-2.html" %}

{% block title %}{{ _("IPFire Planet") }}{% end block %}

{% block bodyA %}
	<div class="page-header">
		<h1>{{ _("IPFire Planet") }}</h1>
	</div>

	<div class="row">
		<div class="span9">
			{% if lang == "de" %}
				<p>
					Der <strong>IPFire Planet</strong> ist eine Plattform für alle
					Personen, die in das Projekt involviert sind um mit der
					Community in Kontakt zu bleiben und sie über neue Entwicklungen
					zu informieren.
				</p>
				<p>
					Um den Aufwand für die Entwickler in Maßen zu halten sind
					alle Einträge nur auf Englisch verfügbar.
				</p>
			{% else %}
				<p>
					The <strong>IPFire Planet</strong> is a place for the people
					who are involved in the project to tell the community about
					new progress in the development or make some minor announcements.
				</p>
			{% end %}
			
			<hr>
		</div>
	</div>

	{% for entry in entries %}
		{{ modules.PlanetEntry(entry) }}
	{% end %}

	<div class="row">
		<div class="span9">
			<ul class="pager">
				<li class="previous">
					<a href="?offset={{ offset }}">&larr; {{ _("Older posts") }}</a>
				</li>
				{% if offset - limit %}
					<li class="next">
						<a href="?offset={{ offset - (2 * limit) }}">{{ _("Newer posts") }} &rarr;</a>
					</li>
				{% end %}
			</ul>
		</div>
	</div>
{% end block %}

{% block bodyB %}
	<div class="row">
		<div class="span3">
			<h3>{{ _("Subscribe") }}</h3>

			{% if lang == "de" %}
				XXX GERMAN TEXT MISSING
			{% else %}
				<p>
					Click on the button below to subscribe to the IPFire planet feed.
					Add it to you favourite news reader and you will see new
					posts immediately.
				</p>
			{% end %}

			<p style="text-align: center;">
				<a class="btn" href="http://planet.ipfire.org/rss">
					<i class="icon-globe"></i> {{ _("Feed") }}
				</a>
			</p>

			<hr>
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<h4>{{ _("People on the IPFire planet") }}</h4>
			<ul>
				{% for author in authors %}
					<li>
						<a href="/user/{{ author.uid }}">{{ author.cn }}</a>
					</li>
				{% end %}
			</ul>
		</div>
	</div>
{% end %}
