{% extends "stasy-base-1.html" %}

{% block title %}{{ _("Operating system") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ _("Releases") }}</h1>
	</div>

	<div class="row">
		<div class="span12">
			{% module StasyTable(releases, sortby="percentage") %}
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h2>{{ _("Architectures") }}</h2>
			{% module StasyTable(arches, sortby="percentage") %}
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>{{ _("Kernels") }}</h3>
			{% if lang == "de" %}
				<p>
					Dies zeigt uns, welche Kernel am häufigsten verwendet werden.
				</p>
			{% else %}
				<p>
					This chart gives an overview about what kernel the machines are
					runnning.
				</p>
			{% end %}
			{% module StasyTable(kernels, sortby="percentage") %}
		</div>
	</div>
{% end block %}
