{% extends "base-1.html" %}

{% block title %}{{ _("Torrent Downloads") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ _("IPFire Torrent Tracker") }}</h1>
	</div>

	{% if lang == "de" %}
		<p>
			Dies ist der IPFire Torrent Tracker.
		</p>
		<p>
			Er wird für das verteilen der IPFire-Downloads gebraucht
			und tut das effizient mit Hilfe des Bittorrent-Protokols.
		</p>
	{% else %}
		<p>
			This is the home of the IPFire torrent tracker.
		</p>
		<p>
			This tracker is used to distribute the IPFire
			downloads in an efficient way with help of the Bittorrent
			protocol.
		</p>
	{% end %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ _("Release") }}</th>
				<th>{{ _("Seeders") }}</th>
				<th>{{ _("Peers") }}</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for release in releases %}
				<tr>
					<td colspan="4">
						<h3>{{ release.name }}</h3>
					</td>
				</tr>

				{% for torrent in release.torrents %}
					<tr>
						<td>
							<a href="/{{ torrent.torrent_hash }}">{{ torrent.basename }}</a>
						</td>
						<td>
							{{ len(torrent.seeders) }}
						</td>
						<td>
							{{ len(torrent.peers) }}
						</td>
						<td>
							<a href="{{ torrent.magnet_link }}">
								<i class="icon-magnet"></i>
							</a>
							<a href="http://tracker.ipfire.org/{{ torrent.torrent_hash }}/download">
								<i class="icon-download-alt"></i>
							</a>
						</td>
					</tr>
				{% end %}
			{% end %}
		</tbody>
	</table>
{% end block %}
