{% extends "base-1.html" %}

{% block title %}{{ file.basename }} - {{ release.name }} - {{ _("Torrent download") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>
			{{ file.basename }}
			<small>{{ release.name }}</small>
		</h1>
	</div>

	<p class="pull-right">
		<a class="btn" href="{{ file.magnet_link }}">
			<i class="icon-magnet"></i> {{ _("Magnet link") }}
		</a>
		<a class="btn" href="http://tracker.ipfire.org/{{ file.torrent_hash }}/download">
			<i class="icon-download-alt"></i> {{ _("Torrent download") }}
		</a>
	</p>

	{% if peers %}
		<h3>{{ _("Peers") }}</h3>
		{% module TrackerPeerList(peers, percentages=True) %}
	{% end %}

	{% if seeds %}
		<h3>{{ _("Seeds") }}</h3>
		{% module TrackerPeerList(seeds) %}
	{% end %}
{% end block %}
