{% extends "../../base-feature.html" %}
		
{% block title %}{{ _("Security") }}{% end block %}

{% block content %}
	<h3>{{ _("Security") }}</h3>

	<img src="{{ static_url("images/icons/security.png") }}" class="floatTL" alt="{{ _("Security") }}" />
	{% if lang == "de" %}
		<p>
			Der Schwerpunkt, der in der Entwicklung von IPFire am meisten wiegt, ist Sicherheit. Aber da
			es nicht nur einen Weg gibt Sicherheit zu erlangen, ist es notwendig, dass jeder Administrator
			Kenntnis darüber hat, welche Konfiguration am Besten in seiner individuellen Umgebung ist.
		</p>
		<p>
			IPFire ist die Basis für Sicherheit im Netzwerk. Durch die Fähigkeit das Netzwerk zu separieren,
			kann jeder Teil nach seinen Bedürfnissen gesichert werden. In der
			Firewall-Sektion gibt es mehr dazu.
		</p>
		<p>
			Ein weiterer sehr wichtiger Punkt, auf den die Entwickler Wert legen, ist das zügige und
			zuverlässige Bereitstellen von Sicherheitsupdates. Da sich IPFire direkt mit dem Internet
			verbindet, ist das System primäres Ziel von Hackern und Bots.
		</p>
	{% else %}
		<p>
			The primary objective in the development of IPFire is - of course - security. But it doesn't
			mean there is only one way to achieve security. Rather, it is more important for every
			administrator to understand their environemnt and what security means <em>in that context</em>.
		</p>
		<p>
			IPFire is the base of security for a local network. It has the power to segment the network based
			on their required security level. This makes it easy to create custom policies for each segment.
			See the firewall tab for more information.
		</p>
		<p>
			Part of this focus on security involves the fast and reliable distribution of security updates
			of the system and its components. Updates are digitally signed and encrypted, and can be
			automatically installed by the Pakfire, the package manager. Since IPFire is directly
			connected to the Internet it is a primary target for hackers and bots. Pakfire helps
			administrators feel certain they are running the latest security updates and bug fixes.
		</p>
	{% end %}
{% end block %}
